<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="lib/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="lib/element/index.css"/>
    <script src="lib/vue/vue.js"></script>
    <script src="lib/element/index.js"></script>
    <script src="lib/jquery/jquery_3.3.1.js"></script>
    <script src="lib/layui/layui.js"></script>
    <script src="lib/echarts/echarts.js"></script>
    <script src="js/websocket.js"></script>
    <script src="js/common.js"></script>
</head>

<body style="background-color: #EBEEF5 ;font-family: sans-serif">
<el-container id="app">

    <el-aside style="width: 270px;">
        <el-header style="height:68px; background: #002140;">
            <img src="./img/logo.png" style="float: left; margin-top: 12px;padding-right: 10px">
            <div class="logo_text" style="color: white;padding: 20px">Docker</div>
        </el-header>
        <el-menu
                id="test"
                default-active="0"
                class="el-menu-vertical-marketApp"
                @select="selectPage"
                background-color="#001529"
                text-color="#fff"
                active-text-color="#ffffff">
            <el-menu-item index="0">
                <i class="el-icon-more-outline"></i>
                <span slot="title">总览</span>
            </el-menu-item>
            <el-menu-item index="1">
                <i class="el-icon-edit"></i>
                从源码创建
            </el-menu-item>
            <el-menu-item index="2">
                <i class="el-icon-download"></i>
                从Docker镜像创建
            </el-menu-item>
            <el-menu-item index="3">
                <i class="el-icon-goods"></i>
                从应用市场安装
            </el-menu-item>
            <el-submenu index="10002">
                <template slot="title">
                    <i class="el-icon-menu"></i>
                    <span slot="title">我的应用</span>
                </template>
                <el-submenu @click="clickGroup(group.appGroupId)" v-for="(group,index) in groups_apps"
                            :index="'300'+index">
                    <template slot="title">
                        <div @click="clickGroup(group.appGroupId)">
                            <i class="el-icon-plus"></i>
                            <span>{{group.groupName}}</span>
                        </div>
                    </template>
                    <el-menu-item @click="clickApp(app.appId)" v-for="(app,appIndex) in group.apps"
                                  :index="app.appId+10000+''">
                        <div>
                            <span>{{app.name}}</span>
                        </div>
                    </el-menu-item>
                </el-submenu>
            </el-submenu>
        </el-menu>
    </el-aside>

    <el-container>
        <el-header style="padding:0px;width: 100%">
            <el-card shadow="always">
                <el-col :span="20" align="right" style="font-size: 20px; color: #409EFF; margin-top: 0px">
                    <el-popover
                            placement="bottom"
                            width="400"
                            trigger="click">
                        <el-button slot="reference" type="text">
                            <el-badge is-dot>
                                <i class="el-icon-bell" style="font-size: 20px"></i>
                            </el-badge>
                        </el-button>
                        <template>
                            <el-tabs v-model="activeName" stretch>
                                <el-tab-pane name="first">
                                    <span slot="label">公告({{noticenum}})</span>
                                    <div @click="dialogVisible = true;getcurrent_message_notice(notice)"
                                         v-for="notice in noticerecord"
                                         style="border-bottom: 1px solid #e8e8e8; padding-bottom: 12px; padding-top: 12px">
                                        <p style="font-size: 14px; margin-bottom: 8px">
                                            {{notice.title}}
                                            <el-badge is-dot style="float: right">
                                            </el-badge>
                                        </p>

                                        <p style="font-size: 12px; margin-bottom: 5px; color: rgba(0,0,0,.45)">查看详情</p>
                                        <p style="font-size: 8px; color:rgba(0,0,0,.45)">
                                            {{notice.createTime}}</p>
                                    </div>
                                    <div style="color: rgba(0,0,0,.45); text-align: center; margin-top: 12px; font-size: 14px">
                                        查看历史消息
                                    </div>
                                </el-tab-pane>
                                <el-tab-pane name="second">
                                    <span slot="label">消息({{messagenum}})</span>
                                    <div @click="dialogVisible = true;getcurrent_message_notice(message)"
                                         v-for="message in messagerecord"
                                         style="border-bottom: 1px solid #e8e8e8; padding-bottom: 12px; padding-top: 12px">
                                        <p style="font-size: 14px; margin-bottom: 8px">
                                            {{message.content}}
                                            <el-badge is-dot style="float: right">
                                            </el-badge>
                                        </p>

                                        <p style="font-size: 12px; margin-bottom: 5px; color: rgba(0,0,0,.45)">查看详情</p>
                                        <p style="font-size: 8px; color:rgba(0,0,0,.45)">
                                            {{message.createTime}}</p>
                                    </div>
                                    <div style="color: rgba(0,0,0,.45); text-align: center; margin-top: 12px; font-size: 14px">
                                        查看历史消息
                                    </div>
                                </el-tab-pane>
                            </el-tabs>
                        </template>
                    </el-popover>
                </el-col>
                <el-col :span="2" align="right">
                    <img src="img/logo.png">
                    <el-dropdown @command="handleCommand">
                        <span style="font-size: 18px; color: #409EFF;">{{username}}</span>
                        <el-dropdown-menu slot="dropdown">
                            <el-dropdown-item command="1">退出登录</el-dropdown-item>
                        </el-dropdown-menu>
                    </el-dropdown>
                </el-col>
            </el-card>
        </el-header>

        <el-main id="content">


        </el-main>

    </el-container>
    <el-dialog
            :visible.sync="dialogVisible"
            width="30%">
        <span slot="title" style="font-size: 28px">{{currentdata.title}}</span>
        <span style="font-size: 20px">{{currentdata.content}}</span>
        <span slot="footer" class="dialog-footer">
            <el-button @click="dialogVisible = false">取 消</el-button>
            <el-button type="primary" @click="dialogVisible = false">确 定</el-button>
        </span>
    </el-dialog>

</el-container>

<script>
    var vm = new Vue({
        el: '#app',
        data: {
            dialogVisible: false,
            bodyHeight: $(window).height(),
            // 左侧导航栏的应用组和组里的app
            groups_apps: [],
            id: 1,
            imageUrl: '',
            username: '',
            isCollapse: false,
            pageArr: ['pages/home.html', 'pages/create_by_code.html', 'pages/create_by_docker.html', 'pages/create_by_market.html', 'pages/appinfo.html'],
            teamArr: ['团队一', '团队二'],
            dataArr: ['假数据中心', '真数据中心'],
            //通告消息界面展开的默认显示
            activeName: 'first',
            appList: [],
            //消息信息
            messagerecord: [],
            //通告信息
            noticerecord: [],
            messagenum: 0,
            noticenum: 0,
            currentdata: "",
        },
        methods: {
            clickApp(id) {
                $('#content').load("pages/appinfo.html", function (response, message, xhr) {
                    appinfo.getId(id);
                });
            },
            clickGroup(id) {
                $('#content').load('pages/app-group.html', function (response, message, xhr) {
                    appGroup.getId(id);
                });
            },
            getCookie(name) {
                var arr, reg = new RegExp("(^| )" + name + "=([^;]*)(;|$)");

                if (arr = document.cookie.match(reg))
                    return unescape(arr[2]);
                else
                    return null;
            },

            delCookie(name) {
                var exp = new Date();
                exp.setTime(exp.getTime() - 60 * 60 * 1000);
                var cval = vm.getCookie(name);
                if (cval != null)
                    document.cookie = name + "=" + cval + ";expires=" + exp.toGMTString() + ";path=/";
            },

            openSubMenu(index, indexPath) {
                console.log("openSubMenu" + index, indexPath);
            },
            handleCommand(command) {
                this.$message("退出");
            },
            //获取用户信息（暂时只使用了name）
            init_usrInf() {
                $.ajax({
                    type: "get",
                    url: 'http://localhost:8080/tianyu-paas/users/info',
                    data: {},
                    success: function (result) {
                        if (result.code === 1) {
                            vm.username = result.data.name;
                            vm.getCookie("name");
                            vm.delCookie("name")
                        } else {
                        }
                    },
                    error: function () {
                        console.log("失败")
                    }
                })
            },
            //获取通知
            getNotice() {
                $.ajax({
                    type: "get",
                    url: 'http://localhost:8080/tianyu-paas/user-notices',
                    success: function (result) {
                        if (result.code) {
                            vm.noticerecord = result.data;
                            //获取通知长度
                            vm.noticenum = Object.keys(result.data).length
                        } else {
                        }
                    },
                    error: function () {
                        console.log("失败")
                    }
                })
            },
            //获取消息
            getMessage() {
                $.ajax({
                    type: "get",
                    url: 'http://localhost:8080/tianyu-paas/userMessages',
                    data: {},
                    success: function (result) {
                        if (result.code) {
                            vm.messagerecord = result.data;
                            //获取消息长度
                            vm.messagenum = Object.keys(result.data).length;
                        } else {
                        }
                    },
                    error: function () {
                        console.log("失败")
                    }
                })
            },
            //设置消息为已读
            setMessageRead(order) {
                $.ajax({
                    type: "put",
                    url: 'http://localhost:8080/tianyu-paas/userMessages',
                    data: {
                        messageId: order.messageId,
                    },
                    success: function (result) {
                        if (result.code) {

                        } else {
                        }
                    },
                    error: function () {
                        console.log("失败")
                    }
                })
            },
            //设置通知为已读
            setNoticeRead(order) {
                $.ajax({
                    type: "get",
                    url: 'http://localhost:8080/tianyu-paas/user-notices/' + order.noticeId,

                    success: function (result) {
                        if (result.code === 1) {

                        } else {

                        }
                    },
                    error: function () {
                        console.log("失败")
                    }
                })
            },
            //获取app列表信息
            myAppList() {
                var that = this;
                $.ajax({
                    type: 'get',
                    url: '/tianyu-paas/actions/info',
                    success: function (data) {
                        if (data.code === 1) {
                            that.appList = data.data
                        }
                        else {
                            console.log(data.message)
                        }
                    },
                    error: function () {
                        console.log("error")
                    }
                })
            },
            // 选择页面
            selectPage(index) {
                // 主要就是通过jquery的load方法，加内容加载到元素上
                if (index > 300) {
                    return;
                }
                $('#content').load(this.pageArr[index], function (response, message, xhr) {
                });
            },
            //TODO 登出
            logout() {

            },
            handleOpen(key, keyPath) {
                console.log(key, keyPath);
                // 打开我的应用选项卡
                if (key >= 3000 && key < 4000) {
                    var id = this.groups_apps[key - 3000].appGroupId;
                    console.log(id);
                }
            },
            handleClose(key, keyPath) {
                console.log(key, keyPath);
            },
            contact_customer_service() {
                layui.use('layim', function (layim) {
                    var websocket = null;
                    if ('WebSocket' in window) {
                        websocket = new WebSocket("ws://localhost:8762/im/im-server");
                    }
                    else {
                        alert('Not support websocket')
                    }

                    websocket.onerror = function () {
                        console.log("error");
                    };

                    websocket.onopen = function (event) {
                        //TODO 获取登录信息
                        console.log('open');
                        // var user = JSON.parse(sessionStorage.user);
                        var authMessage = {};
                        authMessage.username = 'test1';
                        authMessage.password = 'test';
                        websocket.send(JSON.stringify(authMessage));
                    };

                    websocket.onmessage = function (res) {
                        console.log(res.data);
                        var jsonObject = JSON.parse(event.data);
                        if (jsonObject.messageType === 'COMMON') {
                            var message = {};
                            var senderUser = jsonObject.senderUser;
                            message.username = senderUser.name;
                            message.id = senderUser.userId;
                            // message.avatar = jsonObject.senderUser.headImg;
                            message.avatar = "http://tp1.sinaimg.cn/1571889140/180/40030060651/1";
                            message.type = "friend";
                            message.content = jsonObject.content;
                            message.mine = false;
                            message.fromid = senderUser.userId;
                            message.timestamp = jsonObject.gmtCreate;
                            layim.getMessage(message);
                        }
                        else {
                            for (let i in jsonObject) {
                                var message = {};
                                var senderUser = jsonObject[i].senderUser;
                                message.username = senderUser.name;
                                message.id = senderUser.userId;
                                // message.avatar = messages[i].senderUser.headImg;
                                message.avatar = "http://tp1.sinaimg.cn/1571889140/180/40030060651/1";
                                message.type = "friend";
                                message.content = jsonObject[i].content;
                                message.mine = false;
                                message.fromid = senderUser.userId;
                                message.timestamp = jsonObject[i].gmtCreate;
                                layim.getMessage(message);
                            }
                        }
                    };

                    websocket.onclose = function () {
                        console.log('close')
                    };

                    //监听窗口关闭事件，当窗口关闭时，主动去关闭websocket连接，防止连接还没断开就关闭窗口，server端会抛异常。
                    window.onbeforeunload = function () {
                        websocket.close();
                    };
                    var $ = layui.$; //由于layer弹层依赖jQuery，所以可以直接得到
                    // TODO 获取用户信息
                    // let user = JSON.parse(sessionStorage.user);
                    let mine = {};
                    mine.username = '用户1';
                    mine.id = 11;
                    mine.status = "online";
                    mine.avatar = '';
                    //基础配置
                    layim.config({
                        brief: true, //是否简约模式（如果true则不显示主面板）
                        minRight: '20px',
                        right: '10px',
                        init: {
                            mine: mine
                        } //获取主面板列表信息

                    }).chat({
                        name: '客服',
                        type: 'friend',
                        avatar: 'http://tp1.sinaimg.cn/5619439268/180/40030060651/1',
                        id: 999
                    }).on('sendMessage', function (res) {
                        // 消息内容
                        var content = res.mine.content;
                        // 接收者id，接收者只是客服
                        var receiver = 0;
                        send(JSON.stringify({content: content, receiver: receiver}));
                        //获取收到的消息

                    }).setChatMin();
                });
            },

            //获取当前点击的通知或消息
            getcurrent_message_notice(data) {
                vm.currentdata = data;
            },

            //获取分组信息
            init_gruops() {
                $.get({
                    url: '/tianyu-paas/app-groups/groups-apps',
                    success: function (res) {
                        vm.groups_apps = res.data;
                    }
                })
            },
            getWindowHeight() {
                $("#test").height($(window).height() - 68)
            },
        },
        created() {
            this.myAppList();
            this.init_usrInf();
            this.getMessage();
            this.getNotice();
            this.init_gruops();
            $("#test").height(this.bodyHeight - 68)

        },
        mounted() {
            this.contact_customer_service();
            this.selectPage(0, '')
        },
        beforeMount() {
            window.onresize = function () {
                this.bodyHeight = document.documentElement.clientHeight;
                if (document.getElementById('test') != null) {
                    $("#test").height(this.bodyHeight - 68)
                }
            }
        }
    });
</script>
</body>
</html>