<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="lib/element/index.css"/>
    <script src="lib/vue/vue.js"></script>
    <script src="lib/element/index.js"></script>
    <script src="lib/jquery/jquery_3.3.1.js"></script>
    <style>
        html {
            font-family: sans-serif;
        }

        body {
            background: #f0f2f5 !important;
            font-family: Monospace Number, Chinese Quote, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;
            font-size: 14px;
            line-height: 1.5;
        }
    </style>
</head>

<style>

    #test {
        height: 500px;
    }

    .logo_show {
        background: #545C64;
    }

</style>
<body>
<el-container id="app">

    <el-aside>
        <el-header class="logo_show">
            <img src="img/logo.png" style="float: left; margin-top: 12px;padding-right: 10px">
            <div class="logo_text" style="color: white;padding: 20px">Docker</div>
        </el-header>
        <el-menu
                id="test"
                default-active="0"
                class="el-menu-vertical-marketApp"
                @select="selectPage"
                background-color="#545c64"
                text-color="#fff"
                active-text-color="#ffd04b">
            <el-menu-item index="0">
                <i class="el-icon-more-outline"></i>
                <span slot="title">总览</span>
            </el-menu-item>
            <el-submenu index="10001">
                <template slot="title">
                    <i class="el-icon-plus"></i>
                    <span>创建应用</span>
                </template>
                <el-menu-item index="1">从源码创建</el-menu-item>
                <el-menu-item index="2">从Docker镜像创建</el-menu-item>
                <el-menu-item index="3">从应用市场安装</el-menu-item>
            </el-submenu>

            <el-submenu index="10002">
                <template>
                    <i class="el-icon-menu"></i>
                    <span slot="title">我的应用</span>
                </template>
                <el-submenu v-for="(group,index) in groups" index="2000+index" @click="click">
                    <template>
                        <i class="el-icon-plus"></i>
                        <span>{{group.name}}</span>
                    </template>
                    <el-menu-item v-for="app in group.apps" index="3000+index" @click="click">
                        {{app.name}}
                    </el-menu-item>
                </el-submenu>

            </el-submenu>
            <el-menu-item index="5">
                <i class="el-icon-star-off"></i>
                <span slot="title">我的插件</span>
            </el-menu-item>
            <el-menu-item index="6">
                <i class="el-icon-news"></i>
                <span slot="title">团队管理</span>
            </el-menu-item>
            <el-menu-item index="7">
                <i class="el-icon-tickets"></i>
                <span slot="title">财务中心</span>
            </el-menu-item>
        </el-menu>
    </el-aside>

    <el-container>
        <el-header style=" margin-top:-7px;padding:0px;width: 100%">
            <el-card shadow="always">
                <el-col :span="6" align="center">
                    <el-dropdown>
                        <span class="font">团队<i class="el-icon-arrow-down el-icon--right"></i></span>
                        <el-dropdown-menu slot="dropdown">
                            <el-dropdown-item class="font" v-for="team in teamArr" :key="team">{{team}}
                            </el-dropdown-item>
                            <el-dropdown-item class="font"><i class="el-icon-plus"></i>添加团队</el-dropdown-item>
                        </el-dropdown-menu>
                    </el-dropdown>
                </el-col>

                <el-col :span="6">
                    <el-dropdown>
                  <span class="font">
                    数据中心<i class="el-icon-arrow-down el-icon--right"></i>
                  </span>
                        <el-dropdown-menu slot="dropdown">
                            <el-dropdown-item class="font" v-for="data in dataArr" :key="data">{{data}}
                            </el-dropdown-item>
                            <el-dropdown-item><i class="el-icon-plus"></i>选择数据中心</el-dropdown-item>
                        </el-dropdown-menu>
                    </el-dropdown>

                </el-col>
                <el-col :span="8" align="right" style="font-size: 20px; color: #409EFF; margin-top: 0px">
                    <el-popover
                            placement="bottom"
                            width="200"
                            trigger="click"
                            content="这是一段内容,这是一段内容,这是一段内容,这是一段内容。">
                        <el-button slot="reference" type="text" @click="bellclick()">
                            <el-badge :value="messagenum" :max="99">
                                <i class="el-icon-bell"></i>
                            </el-badge>
                        </el-button>
                        <template>
                            <el-tabs v-model="activeName" @tab-click="handleClick()">
                                <el-tab-pane label="公共" name="first">
                                    <div @click="dialogVisible = true;getCurrentNotice(notice)"
                                         v-for="notice in noticerecord"
                                         style="border: 1px dotted rgb(211,220,230);">
                                        <span style="font-size: 12px">{{notice.title}}</span>
                                        <span style="font-size: 8px">{{notice.content}}</span>
                                    </div>
                                </el-tab-pane>
                                <el-tab-pane label="消息" name="second">
                                    <div @click="dialogVisible = true;getCurrentMessage(message)"
                                         v-for="message in messagerecord"
                                         style="border: 1px dotted rgb(211,220,230);">
                                        <span style="font-size: 12px">{{message.title}}</span>
                                        <span style="font-size: 8px">{{message.content}}</span>
                                    </div>
                                </el-tab-pane>
                            </el-tabs>
                        </template>
                    </el-popover>
                </el-col>
                <el-col :span="2" align="right">
                    <img src="">
                </el-col>
                <el-col :span="2" align="left">
                    <el-dropdown @command="handleCommand">
                        <span style="font-size: 16px; color: #409EFF;">{{username}}</span>
                        <el-dropdown-menu slot="dropdown">
                            <el-dropdown-item command="1">退出登录</el-dropdown-item>
                        </el-dropdown-menu>
                    </el-dropdown>
                </el-col>
            </el-card>
        </el-header>

        <el-main id="content">

        </el-main>

    </el-container>
</el-container>
<script>
    var vm = new Vue({
        el: '#app',
        data: {
            dialogVisible: false,
            id: 1,
            imageUrl: '',
            username: '',
            isCollapse: false,
            pageArr: ['', 'pages/create_by_code.html', 'pages/create_by_docker.html', 'pages/install.html', 'pages/appinfo.html', '', '', 'pages/financialcenter.html'],
            messagenum: 199,
            teamArr: ['团队一', '团队二'],
            dataArr: ['假数据中心', '真数据中心'],
            activeName: 'second',
            appList:[],
            appListo:{},
            messagerecord: [],
            noticerecord: [],
        },
        methods: {
            handleCommand(command) {
                this.$message("退出");
            },
            init_usrInf() {
                $.ajax({
                    type: "get",
                    url: 'http://localhost:8080/tianyu-paas/users/info/' + this.id,
                    data: {},
                    success: function (result) {
                        if (result.code === 1) {
                            vm.username = result.data.name;
                        } else {
                        }
                    },
                    error: function () {
                        console.log("失败")
                    }
                })
            },
            getNotice() {
                $.ajax({
                    type: "get",
                    url: 'http://localhost:8080/tianyu-paas/user-notices',
                    success: function (result) {
                        if (result.code) {
                            vm.noticerecord = result.data;
                        } else {
                        }
                    },
                    error: function () {
                        console.log("失败")
                    }
                })
            },
            getMessage() {
                $.ajax({
                    type: "get",
                    url: 'http://localhost:8080/tianyu-paas/userMessages',
                    data: {},
                    success: function (result) {
                        if (result.code) {
                            vm.messagerecord = result.data
                        } else {
                        }
                    },
                    error: function () {
                        console.log("失败")
                    }
                })
            },
            setMessageRead(order) {
                console.log(order);
                $.ajax({
                    type: "put",
                    url: 'http://localhost:8080/tianyu-paas/userMessages',
                    data: {
                        messageId: order.messageId,
                    },
                    success: function (result) {
                        console.log(result);
                        if (result.code) {
//
                        } else {
                        }
                    },
                    error: function () {
                        console.log("失败")
                    }
                })
            },
            setNoticeRead(order) {
                console.log(order);
                $.ajax({
                    type: "get",
                    url: 'http://localhost:8080/tianyu-paas/user-notices/'+ order.noticeId,

                    success: function (result) {
                        if (result.code===1) {

                        } else {

                        }
                    },
                    error: function () {
                        console.log("失败")
                    }
                })
            },
            getCurrentNotice(currentNotice) {
                this.$alert(currentNotice.content, currentNotice.title, {
                    confirmButtonText: '确定',
                    callback: action => {
                        vm.setNoticeRead(currentNotice)
                    }
                });
            },
            getCurrentMessage(currentMessage) {
                this.$alert(currentMessage.content, currentMessage.title, {
                    confirmButtonText: '确定',
                    callback: action => {
                        vm.setMessageRead(currentMessage)
                    }
                });
            },
            myAppList() {
                var that = this;
                $.ajax({
                    type: 'get',
                    url: '/tianyu-paas/actions/info',
                    success: function (data) {
                        if (data.code === 1) {
                            that.appList = data.data
                        }
                        else {
                            console.log(data.message)
                        }
                    },
                    error: function () {
                        console.log("error")
                    }
                })
            },
            handleClick(tab, event) {
                console.log(tab, event);
            },
            // 选择页面
            selectPage(index, indexPath) {
                // 主要就是通过jquery的load方法，加内容加载到元素上
                console.log(index);
                if(index>999){
                    $('#content').load("pages/appinfo.html?appId="+(index-999));
                }
                else{
                    $('#content').load(this.pageArr[index], function (response, message, xhr) {
                    });
                }
            },
            logout() {

            },
            handleOpen(key, keyPath) {
                console.log(key, keyPath);
            },
            handleClose(key, keyPath) {
                console.log(key, keyPath);
            },
            handleAvatarSuccess() {

            },
            beforeAvatarUpload() {

            }
        },
        created() {
            this.myAppList();
            this.init_usrInf();
            this.getMessage();
            this.getNotice();
        }
    });
</script>
</body>
</html>