<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <link rel="stylesheet" href="lib/element/index.css">
    <link rel="stylesheet" href="lib/fonts/font-awesome.css">
    <script src="lib/vue/vue.js"></script>
    <script src="lib/element/index.js"></script>
    <script src="lib/jquery/jquery_3.3.1.js"></script>
    <style>
        .login-page-container {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: url("img/login.jpg");
        }

        .demo-register {
            background-color: white;
            margin: 0 auto;
            width: 350px;
            height: 500px;
            position: relative;
            top: 30%;
            transform: translateY(-30%);
            border-radius: 5px;
        }

        .login-form {
            position: relative;
            top: 25%;
            transform: translateY(-25%);
        }

        .login-container {
            width: 70%;
            margin: 0 auto;
            text-align: center;
        }
    </style>
</head>
<body>
<div id="app">
    <div class="login-page-container">
        <div class="demo-register">
            <div class="login-form">
                <el-form ref="User" status-icon :rules="Rules" :model="User" class="login-container">
                    <p style="font-size: 17px">注 册</p>
                    <el-form-item prop="name">
                        <el-input type="text" v-model="User.name" auto-complete="off" placeholder="请输入账号"
                                  prefix-icon="fa fa-user fa-lg"></el-input>
                    </el-form-item>
                    <el-form-item prop="pass">
                        <el-input type="password" v-model="User.pass" auto-complete="off" placeholder="请输入密码"
                                  prefix-icon="fa fa-lock fa-lg"></el-input>
                    </el-form-item>
                    <el-form-item prop="checkPass">
                        <el-input type="password" v-model="User.checkPass" auto-complete="off" placeholder="请再次输入密码"
                                  prefix-icon="fa fa-lock fa-lg"></el-input>
                    </el-form-item>
                    <el-form-item prop="email">
                        <el-input v-model="User.email" auto-complete="off" placeholder="请输入邮箱"
                                  prefix-icon="fa fa-envelope fa-1x"></el-input>
                    </el-form-item>
                    <el-form-item prop="phone">
                        <el-input v-model="User.phone" auto-complete="off" placeholder="请输入手机号"
                                  prefix-icon="fa fa-mobile fa-lg"></el-input>
                    </el-form-item>
                    <el-form-item prop="vertify_code">
                        <el-input v-model="User.vertify_code" auto-complete="off" placeholder="请输入验证码"
                                  prefix-icon="fa fa-paper-plane 2x" style="width: 58%"></el-input>
                        <el-button>获取短信</el-button>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" style="width:100%" :loading="loading" @click="register">注册</el-button>
                    </el-form-item>
                </el-form>
            </div>
        </div>
    </div>
</div>
<script>
    var validateUser = (rule, value, callback) => {
        if (value === '') {
            callback(new Error('账号不能为空'));
        } else {
            callback();
        }
    };
    var validatePass = (rule, value, callback) => {
        if (value === '') {
            callback(new Error('密码不能为空'));
        } else if (vm.test) {
            callback(new Error('密码错误'));
        } else {
            callback();
        }
    };
    var validatePass2 = (rule, value, callback) => {
        if (value === '') {
            callback(new Error('请再次输入密码'));
        } else if (value !== vm.User.pass) {
            callback(new Error('两次输入密码不一致!'));
        } else {
            callback();
        }
    };
    const vm = new Vue({
        el: '#app',
        data: {
            User: {
                name: '',
                pass: '',
                checkPass: '',
                email: '',
                phone: '',
                vertify_code: ''
            },
            Rules: {
                name: [
                    {validator: validateUser, trigger: 'blur'}
                ],
                pass: [
                    {validator: validatePass, trigger: 'blur'}
                ],
                checkPass: [
                    {validator: validatePass2, trigger: 'blur'}
                ],
                email: [
                    {required: true, message: '请输入邮箱', trigger: 'blur'}
                ],
                phone: [
                    {required: true, message: '请输入手机号', trigger: 'blur'}
                ],
            },
            loading: false,
            test: false
        },
        methods: {
            validatePass2(rule, value, callback) {
                if (value === '') {
                    callback(new Error('请再次输入密码'));
                } else if (value !== vm.User.pass) {
                    callback(new Error('两次输入密码不一致!'));
                } else {
                    callback();
                }
            },
            register() {
                $.ajax({
                    type: "post",
                    url: 'users/register',
                    data: {
                        name: this.User.name,
                        pwd: this.User.pass,
                        phone: this.User.phone,
                        email: this.User.email
                    },
                    success: function (TResultCode) {
                        console.log("the reult is " + TResultCode.code);
                        if (TResultCode.code == 1) {
                            alert("注册成功")
                        }
                        else {
                            alert(TResultCode.message)
                        }
                    },
                    error: function () {
                        console.log("fail")
                    }
                })
            },
        },

    })
</script>
</body>
</html>
