<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <link rel="stylesheet" href="lib/element/index.css">
    <link rel="stylesheet" href="lib/fonts/font-awesome.css">
    <script src="lib/vue/vue.js"></script>
    <script src="lib/element/index.js"></script>
    <script src="lib/jquery/jquery_3.3.1.js"></script>
    <style>
        .avatar-uploader .el-upload {
            border: 1px dashed #d9d9d9;
            border-radius: 6px;
            cursor: pointer;
            position: relative;
            overflow: hidden;
        }

        .avatar-uploader .el-upload:hover {
            border-color: #409EFF;
        }

        .avatar-uploader-icon {
            font-size: 28px;
            color: #8c939d;
            width: 100px;
            height: 100px;
            line-height: 100px;
            text-align: center;
        }

        .avatar {
            width: 100px;
            height: 100px;
            display: block;
        }

        .login-page-container {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: url("img/login.jpg");
        }

        .demo-register {
            background-color: white;
            margin: 0 auto;
            width: 500px;
            height: 700px;
            position: relative;
            top: 30%;
            transform: translateY(-30%);
            border-radius: 5px;
        }

        .login-form {
            position: relative;
            top: 25%;
            transform: translateY(-25%);
        }

        .login-container {
            width: 70%;
            margin: 0 auto;
            text-align: center;
        }
    </style>
</head>
<body>
<div id="app">
    <div class="login-page-container">
        <div class="demo-register">
            <div class="login-form">
                <el-form ref="User" status-icon :rules="Rules" :model="User" class="login-container">
                    <p style="font-size: 17px">注 册</p>
                    <el-form-item prop="head_img">
                        <el-upload
                                class="avatar-uploader"
                                action="/"
                                :show-file-list="false"
                                :on-success="handleAvatarSuccess"
                                :before-upload="beforeAvatarUpload">
                            <img v-if="imageUrl !== ''" :src="imageUrl" class="avatar">
                            <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                        </el-upload>
                    </el-form-item>
                    <el-form-item prop="name">
                        <el-input type="text" v-model="User.name" auto-complete="off" placeholder="请输入账号"
                                  prefix-icon="fa fa-user fa-lg"></el-input>
                    </el-form-item>
                    <el-form-item prop="pass">
                        <el-input type="password" v-model="User.pass" auto-complete="off" placeholder="请输入密码"
                                  prefix-icon="fa fa-lock fa-lg"></el-input>
                    </el-form-item>
                    <el-form-item prop="checkPass">
                        <el-input type="password" v-model="User.checkPass" auto-complete="off" placeholder="请再次输入密码"
                                  prefix-icon="fa fa-lock fa-lg"></el-input>
                    </el-form-item>
                    <el-form-item prop="email">
                        <el-input v-model="User.email" auto-complete="off" placeholder="请输入邮箱"
                                  prefix-icon="fa fa-envelope fa-1x"></el-input>
                    </el-form-item>
                    <el-form-item prop="phone">
                        <el-input v-model="User.phone" auto-complete="off" placeholder="请输入手机号"
                                  prefix-icon="fa fa-mobile fa-lg"></el-input>
                    </el-form-item>
                    <el-form-item prop="vertify_code">
                        <el-input v-model="User.vertify_code" auto-complete="off" placeholder="请输入验证码"
                                  prefix-icon="fa fa-paper-plane 2x" style="width: 70%"></el-input>
                        <el-button v-show="flag" @click="getMessageCode">获取短信</el-button>
                        <el-button v-show="!flag" :disabled="!flag">{{code_time}}秒</el-button>
                    </el-form-item>
                    <el-form-item>
                        <el-row>
                            <el-col :span="18">
                                <el-select v-model="User.active_code" placeholder="请选择注册方式" style="width:100%">
                                    <el-option
                                            v-for="item in active_option"
                                            :key="item.value"
                                            :label="item.label"
                                            :value="item.value">
                                    </el-option>
                                </el-select>
                            </el-col>
                            <el-col :span="6">
                                <el-button type="primary" :loading="loading" style="width: 95%;margin-left: 5%" @click="register">注册
                                </el-button>
                            </el-col>
                        </el-row>
                    </el-form-item>
                </el-form>
            </div>
        </div>
    </div>
</div>
<script>
    var validateUser = (rule, value, callback) => {
        if (value === '') {
            callback(new Error('账号不能为空'));
        } else {
            callback();
        }
    };
    var validatePass = (rule, value, callback) => {
        if (value === '') {
            callback(new Error('密码不能为空'));
        } else if (vm.test) {
            callback(new Error('密码错误'));
        } else {
            callback();
        }
    };
    var validatePass2 = (rule, value, callback) => {
        if (value === '') {
            callback(new Error('请再次输入密码'));
        } else if (value !== vm.User.pass) {
            callback(new Error('两次输入密码不一致!'));
        } else {
            callback();
        }
    };
    const vm = new Vue({
        el: '#app',
        data: {
            imageUrl: '',
            active_option: [
                {
                    label: "邮箱注册",
                    value: 1,
                },
                {
                    label: "手机号注册",
                    value: 0,
                }],
            User: {
                head_img: '',
                name: '',
                pass: '',
                checkPass: '',
                email: '',
                phone: '',
                vertify_code: '',
                active_code: 1,

            },
            Rules: {
                name: [
                    {validator: validateUser, trigger: 'blur'}
                ],
                pass: [
                    {validator: validatePass, trigger: 'blur'}
                ],
                checkPass: [
                    {validator: validatePass2, trigger: 'blur'}
                ],
                email: [
                    {required: true, message: '请输入邮箱', trigger: 'blur'}
                ],
                phone: [
                    {required: true, message: '请输入手机号', trigger: 'blur'}
                ],
            },
            loading: false,
            test: false,
            flag: true,
            code_time: sessionStorage.getItem('codeTime'),
        },
        methods: {
            handleAvatarSuccess(res, file) {
//                vm.imageUrl = URL.createObjectURL(file.raw);
//                console.log(vm.imageUrl);
            },
            beforeAvatarUpload(file) {
                const isJPG = file.type === 'image/jpeg';
                const isLt2M = file.size / 1024 / 1024 < 2;
                if (!isJPG) {
                    vm.$message.error('上传头像图片只能是 JPG 格式!');
                    return;
                }
                if (!isLt2M) {
                    vm.$message.error('上传头像图片大小不能超过 2MB!');
                    return;
                }
                this.imgUrl = file;
                console.log(this.imgUrl);
                this.imgPreview(file);
            },
            imgPreview(file) {
                if (!file || !window.FileReader) {
                    return;
                }
                if (/^image/.test(file.type)) {
                    let reader = new FileReader();
                    reader.readAsDataURL(file);
                    reader.onload = function () {
                        vm.imageUrl = this.result;
                    }
                }
            },
            validatePass2(rule, value, callback) {
                if (value === '') {
                    callback(new Error('请再次输入密码'));
                } else if (value !== vm.User.pass) {
                    callback(new Error('两次输入密码不一致!'));
                } else {
                    callback();
                }
            },

            getMessageCode() {
                var that = this;
                this.flag = false;
                var codeTime = 60;
                sessionStorage.setItem("codeTime", codeTime);
                var code_timer = setInterval(() => {
                    codeTime--;
                    sessionStorage.setItem("codeTime", codeTime);
                    that.code_time = sessionStorage.getItem("codeTime");
                    console.log(that.code_time);
                    if (codeTime <= 0) {
                        that.flag = true;
                        that.flag = true;
                        clearInterval(code_timer)
                    }
                }, 1000);
                console.log(vm.User.phone)
                $.ajax({
                    url: 'users/phone-code/' + vm.User.phone,
                    type:'get',
                    success: function (TResultCode) {
                        console.log(TResultCode);
                        if (TResultCode.code === 1) {
                            alert("获取成功")
                        }
                        else {
                            alert(TResultCode.message)
                        }
                    }
                })
            },
            getSessionCode() {
                var that = this;
                if(sessionStorage.getItem('codeTime') >=0 )
                    this.flag = false;
                var codeTime = sessionStorage.getItem('codeTime');
                    var code_timer = setInterval(() => {
                        codeTime--;
                        sessionStorage.setItem("codeTime", codeTime);
                        that.code_time = sessionStorage.getItem("codeTime");
                        console.log(that.code_time);
                        if(codeTime<=0) {
                            that.flag = true;
                            clearInterval(code_timer)
                        }
                    },1000);
            },
            register() {
                if (vm.User.vertify_code === null) {
                    vm.$message({
                        message: '请输入验证码',
                        type: 'warning'
                    });
                } else if (vm.User.active_code === null) {

                }
                else {
                    $.ajax({
                        type: "post",
                        url: 'users/register',
                        data: {
                            headImg: this.imageUrl,
                            name: this.User.name,
                            pwd: this.User.pass,
                            phone: this.User.phone,
                            email: this.User.email,
                            activeMethod: this.User.active_code,
                            phoneVerifyCode: this.User.vertify_code
                        },
                        success: function (TResultCode) {
                            console.log(TResultCode);
                            if (TResultCode.code === 1) {
                                vm.$message({
                                    message: '注册成功',
                                    type: 'success'
                                });
                            }
                            else {
                                alert(TResultCode.message)
                            }
                        },
                        error: function () {
                            console.log("fail")
                        }
                    })
                }
            },
        },
        mounted() {
            this.getSessionCode()
        }

    })
</script>
</body>
</html>
