<style>
    #info {
        padding-top: 10px;
        padding-left: 20px;
    }

    .block {
        margin: 5px;
        text-align: center;
    }

    .bottom {
        margin-bottom: -21px;
    }

    #install {
        overflow: hidden;
    }
</style>
<div id="install">

    <el-row style="background: #ffffff; height: 130px;">
        <el-col :span="18">
            <div id="info">
                <el-breadcrumb separator="/" style="font-size: 14px">
                    <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
                    <el-breadcrumb-item>从应用市场安装</el-breadcrumb-item>
                </el-breadcrumb>

            </div>
        </el-col>

        <div style="width: 50%; margin-top: 4%; margin-left: 20%">
            <el-row>
                <el-col :span="12" :offset="5">
                    <el-input
                            placeholder="请输入内容"
                            v-model="input10"
                            clearable>
                    </el-input>
                </el-col>
                <el-col :span="2">
                    <el-button type="primary" icon="el-icon-search">搜索</el-button>
                </el-col>
            </el-row>
        </div>
    </el-row>
    <div>

        <div>
            <el-row :gutter="60">
                <el-col :span="8" :xs="24" :sm="11" :md="9" :lg="8" v-for="item in apps" :key="item.marketAppId"
                        style="height: 160px;margin: 30px 0;">
                    <el-card :body-style="{ padding: '0px' }">
                        <img :src="item.imageBase64" style="width: 28%; float: left;">
                        <div style="padding: 20px;">
                            <span style="font-size: 22px;margin-left: 50px">
                                {{item.name}}
                            </span><br>
                            <span style="font-size: 16px;margin-left: 100px">
                                version{{item.version}}
                            </span>
                            <div class="bottom clearfix">
                                <el-button class="button" type="text" @click="outerVisible = true;getapp(item)"
                                           style="margin-left: -10%; width: 120%; background: #d3dce6">安装
                                </el-button>
                            </div>
                        </div>
                    </el-card>
                </el-col>
            </el-row>
        </div>
        <div class="block">
            <el-pagination
                    @size-change="handleSizeChange"
                    @current-change="handleCurrentChange"
                    :current-page="currentPage"
                    :page-sizes="[10, 20, 30, 40]"
                    :page-size="10"
                    layout="total, sizes, prev, pager, next, jumper"
                    :total="pagenum">
            </el-pagination>
        </div>

    </div>
    <el-dialog :visible.sync="outerVisible">
        <el-dialog
                width="50%"
                title="新建组"
                :visible.sync="innerVisible"
                append-to-body>
            <el-row>
                <el-col :span="20">
                    <el-input v-model="inputname" placeholder="请输入组名"></el-input>
                </el-col>
                <el-col :span="4">
                    <el-button type="primary" @click="outerVisible = false;add_group()">新建</el-button>
                </el-col>
            </el-row>
        </el-dialog>
        <el-row>

            <el-col :span="17">
                <el-form>
                    <el-form-item label="应用名称" :label-width="formLabelWidth">
                        <el-input v-model="inputGroupName"></el-input>
                    </el-form-item>
                    <el-form-item label="选择分组" :label-width="formLabelWidth">
                        <el-select v-model="select_group" placeholder="请选择分组">
                            <el-option :label="item.groupName" :value="item.appGroupId" v-for="item in groupNames"
                                       :key="item.appGroupId"></el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item :label-width="formLabelWidth">
                        <el-button @click="innerVisible = true;outerVisible = false">新建组</el-button>
                    </el-form-item>
                </el-form>
            </el-col>
            <el-col :span="7">
            </el-col>
        </el-row>

        <div slot="footer" class="dialog-footer">
            <el-button @click="outerVisible = false">取 消</el-button>
            <el-button type="primary" @click="create_by_market();outerVisible = false">安装</el-button>
        </div>
    </el-dialog>

</div>


<script>
    var install = new Vue({
        el: '#install',
        data: {
            inputGroupName: '',
            apps: [],
            select_group: '',
            form: {
                name: '',
                region: '',
                date1: '',
                date2: '',
                delivery: false,
                type: [],
                resource: '',
                desc: ''
            },
            inputname: '',
            groupNames: [],
            formLabelWidth: '120px',
            outerVisible: false,
            innerVisible: false,
            input10: '',
            imageUrl: 'http://img.sccnn.com/bimg/338/27244.jpg',
            currentPage: 1,
            pagenum: 100,
            activeName: 'first',
            test: ['1', '2', '3', '4', '5', '6'],
            currentapp: '',

            classify: [
                {
                    id: 'first',
                    name: '全部',
                },
                {
                    id: 'second',
                    name: '云市',
                },
                {
                    id: 'third',
                    name: '本公司',
                },
                {
                    id: 'fourth',
                    name: '本团队',
                }
            ],
        },
        methods: {
            //获取当前选中的app
            getapp(data) {
                install.currentapp = data;
            },
            //创建应用
            create_by_market() {
                console.log(install.select_group);
                console.log(install.currentapp);
                console.log(install.currentapp.name);
                $.ajax({
                    type: "POST",
                    url: "http://localhost:8080/tianyu-paas/apps/market",
                    data: {
                        appGroupId: install.select_group,
                        marketAppId: install.currentapp.marketAppId,
                        name: install.inputGroupName,
                    },
                    success: function (result) {
                        if (result.code === 1) {
                        }
                    }
                })
            },
            add_group() {
                $.ajax({
                    type: "post",
                    url: 'app-groups',
                    data: {
                        appGroupId: install.select_group,
                        groupName: install.inputname,
                    },
                    success: function (result) {
                        if (result.code == 1) {
                            install.$message({
                                message: '新建组成功',
                                type: 'success'
                            });
                        }
                        else {
                        }
                    },
                    error: function () {
                    }
                })
            },
            init_appGroup() {
                $.ajax({
                    type: "GET",
                    url: "http://localhost:8080/tianyu-paas/app-groups",
                    data: {},
                    success: function (result) {
                        if (result.code === 1) {
                            install.groupNames = result.data;

                        } else {

                        }
                    }
                })
            },
            init_market() {
                $.ajax({
                    type: "GET",
                    url: "http://localhost:8080/tianyu-paas/marketApps",
                    data: {},
                    success: function (result) {
                        if (result.code) {
                            install.apps = result.data.records;
                        } else {

                        }
                    }
                })
            },
            convertBase64UrlToBlob(urlData) {
                const bytes = window.atob(urlData.split(',')[1]);        // 去掉url的头，并转换为byte
                // 处理异常,将ascii码小于0的转换为大于0
                const ab = new ArrayBuffer(bytes.length);
                const ia = new Uint8Array(ab);
                for (let i = 0; i < bytes.length; i++) {
                    ia[i] = bytes.charCodeAt(i);
                }
                return new Blob([ab], {type: 'image/png'});
            },

            onSubmit() {
            },
            handleClick(tab, event) {
//                console.log(tab, event);
            },
            handleSizeChange(val) {
//                console.log(`每页 ${val} 条`);
            },
            handleCurrentChange(val) {
//                console.log(`当前页: ${val}`);
            },
        },

        mounted() {
            this.init_appGroup();
            this.init_market();
        },
//
        created() {

        },


    })

</script>