
<div id="financialcenter">
    <el-row>
        <el-col :span="22">
            <div style="background: white">
                <el-col>
                    <el-breadcrumb separator="/" id="info">
                        <br>
                        <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
                        <el-breadcrumb-item>财务中心</el-breadcrumb-item>
                    </el-breadcrumb>
                </el-col>
            </div>
        </el-col>
        <div style="margin-top: 1%;background: white;height: 150px;">
            <el-row :gutter="10">
                <el-col :span="8">
                    <div class="" style="text-align: center;margin-top: 35px ">账户余额<br>
                        <div style="margin-top: 5%;color: rgba(0, 0, 0, .85);font-size: 28px;line-height: 30px;">
                            {{balance}}元
                        </div>
                    </div>
                </el-col>
                <el-col :span="8">
                    <div class="" style="text-align: center;margin-top: 35px ">数据中心内存 (已使用/总资源)<br>
                        <div style="margin-top: 5%;color: rgba(0, 0, 0, .85);font-size: 28px;line-height: 30px;">
                            {{memoryUsed}}/{{memoryTotal}}M
                        </div>
                    </div>
                </el-col>
                <el-col :span="8">
                    <div class="" style="text-align: center;margin-top: 35px ">数据中心磁盘 (已使用/总资源)<br>
                        <div style="margin-top: 5%;color: rgba(0, 0, 0, .85);font-size: 28px;line-height: 30px;">
                            {{diskUsed}}/{{diskTotal}}G
                        </div>
                    </div>
                </el-col>
            </el-row>
        </div>
        <el-col style="margin-left: 0%; height: 45px">
                <div style="margin-top: 1%; margin-left: 80%">
                        <el-radio-group v-model="radio" size="medium">
                            <el-radio-button label="购买资源" ></el-radio-button>
                            <el-radio-button label="账户充值"></el-radio-button>
                            <el-radio-button label="更多"></el-radio-button>
                        </el-radio-group>
                </div>
            </el-col>
        <el-row style="background: #ffffff; width: 100%;margin-top: 4%;">

            <div style="margin-top: 2%; background: #ffffff; min-height: 400px; width: 100%">
                <el-row>
                    <el-col :span="10">
                        <div style="float: left ; margin-left:5%; margin-top: 3%">
                            <span style="font-size: 17px;">当前数据中心每小时费用</span>
                        </div>
                    </el-col>
                    <el-col :span="12">
                        <div class="block" style="float: right  ; margin-top:3%;">
                            <el-date-picker
                                    v-model="value"
                                    align="right"
                                    type="date"
                                    placeholder="2015-01-01"
                                    :picker-options="pickerOptions1">
                            </el-date-picker>
                        </div>
                    </el-col>
                </el-row>
                <div style=" margin-left: 30px ;margin-top: 2%">
                    <template>
                        <el-table
                                :data="tableData3"
                                style="width: 100%">
                            <el-table-column
                                    prop="date"
                                    label="时间"
                                    width="300">
                            </el-table-column>
                            <el-table-column
                                    prop="name"
                                    label="内存费用"
                                    width="300">
                            </el-table-column>
                            <el-table-column
                                    prop="address"
                                    label="磁盘费用"
                                    width="300">
                            </el-table-column>
                            <el-table-column
                                    prop="cost"
                                    label="流量费用"
                                    width="300">
                            </el-table-column>
                            <el-table-column
                                    prop="allcost"
                                    label="总费用">
                            </el-table-column>
                        </el-table>
                    </template>
                </div>
            </div>
        </el-row>
    </el-row>
</div>
<script>
    var financialcenter = new Vue({
        el: '#financialcenter',
        data:{
            radio:'',
            pickerOptions1: {
                disabledDate(time) {
                    return time.getTime() > Date.now();
                },
                shortcuts: [{
                    text: '今天',
                    onClick(picker) {
                        picker.$emit('pick', new Date());
                    }
                }, {
                    text: '昨天',
                    onClick(picker) {
                        const date = new Date();
                        date.setTime(date.getTime() - 3600 * 1000 * 24);
                        picker.$emit('pick', date);
                    }
                }, {
                    text: '一周前',
                    onClick(picker) {
                        const date = new Date();
                        date.setTime(date.getTime() - 3600 * 1000 * 24 * 7);
                        picker.$emit('pick', date);
                    }
                }]
            },
            value: '',
            balance: 99,
            diskTotal: 99,
            diskUsed: 99,
            memoryTotal: 99,
            memoryUsed: 99,
            userId: 7,
            tableData3: [{
                date: '2016-05-03',
                name: '王小虎',
                address: '上海市普陀区金沙江路 1518 弄'
            }, {
                date: '2016-05-02',
                name: '王小虎',
                address: '上海市普陀区金沙江路 1518 弄'
            }, {
                date: '2016-05-04',
                name: '王小虎',
                address: '上海市普陀区金沙江路 1518 弄'
            }, {
                date: '2016-05-01',
                name: '王小虎',
                address: '上海市普陀区金沙江路 1518 弄'
            }, {
                date: '2016-05-08',
                name: '王小虎',
                address: '上海市普陀区金沙江路 1518 弄'
            }, {
                date: '2016-05-06',
                name: '王小虎',
                address: '上海市普陀区金沙江路 1518 弄'
            }, {
                date: '2016-05-07',
                name: '王小虎',
                address: '上海市普陀区金沙江路 1518 弄'
            }]
        },
        methods: {
            onSubmit() {
                console.log('submit!');
            },
            init_data() {
                $.ajax({
                    type: "GET",
                    url: "http://localhost:8080/tianyu-paas/users/dynamic/" + this.userId,
                    data: {},
                    success: function (result) {
                        if (result.code) {
                            financialcenter.balance = result.data.balance;
                            financialcenter.memoryUsed = result.data.memoryUsed;
                            financialcenter.memoryTotal = result.data.memoryTotal;
                            financialcenter.diskUsed = result.data.diskUsed;
                            financialcenter.diskTotal = result.data.diskTotal;
                        } else {

                        }
                    }
                })
            }
        },
        created() {
            this.init_data();
        },
        mounted() {
        },
    })

</script>
<style>
    #info {
        padding-top: 10px;
        padding-left: 20px;
    }
</style>
