
    <style>
        .homeTop {
            background: #ffffff;
            padding: 16px 32px 0;
            border: 1px solid #e8e8e8;
            margin-bottom: 15px;
            min-height: 150px;
            min-width: 100px;
        }

        .homeLeft {
            float: left;
            padding: 20px;
            margin: 10px;
            background: #fff;
        }

        .homeRight {
            float: left;
            padding: 20px;
            margin: 10px;
            background: #fff;
            min-height: 200px;
            min-width: 500px;
        }

        .homeRight span {
            font-size: 18px;
        }

        .userInfo {
            float: left;
            min-width: 200px;
        }

        .userTeamInfo {
            float: right;
            min-width: 600px;
        }

        .titleInfo {
            padding: 0 24px;
        }

        .appNum, .memberNum, .balanceNum, .memoryNum, .diskNum {
            display: inline-block;
        }

        .appNum, .memberNum, .balanceNum, .memoryNum, .diskNum {
            text-align: left;
            font-size: 18px;
        }

        .appNumNum, .memberNumNum, .balanceNumNum, .memoryNumNum, .diskNumNum {
            text-align: left;
            color: rgba(0, 0, 0, .85);
            font-size: 28px;
            line-height: 30px;
            margin: 10px;
        }
        .page{
            float: right;
            margin-top: 20px;
        }
        .bread {
            font-size:15px;
        }

    </style>


<div id="home">
    <div class="homeTop">
        <div class="bread">
            <el-breadcrumb separator-class="el-icon-arrow-right">
                <el-breadcrumb-item><a href="/">首页</a></el-breadcrumb-item>
            </el-breadcrumb>
        </div>
        <div class="userInfo">
            <div class="img" style="margin-top: 30px">
                <img style="width: 70px" src="img/team.png" />
            </div>
            <div class="imginfo">
                <div class="name">

                </div>
                <div class="createtTime">

                </div>
            </div>
        </div>
        <div class="userTeamInfo">
            <div class="appNum titleInfo">
                <div class="appNumName">
                    <span>应用数</span>
                </div>
                <div class="appNumNum ">
                    <span>{{appNum}}</span>
                </div>
            </div>
            <div class="memberNum titleInfo">
                <div class="memberNumName">
                    <span>团队成员</span>
                </div>
                <div class="memberNumNum">
                    <span>{{memberNum}}</span>
                </div>
            </div>
            <div class="balanceNum titleInfo">
                <div class="balanceNumName">
                    <span>账户余额</span>
                </div>
                <div class="balanceNumNum">
                    <span>{{balance}}元</span>
                </div>
            </div>
            <div class="memoryNum titleInfo">
                <div class="memoryNumName ">
                    <span>已使用内存</span>
                </div>
                <div class="memoryNumNum ">
                    <span>{{usedMemory}}MB</span>
                </div>
            </div>
            <div class="diskNum titleInfo">
                <div class="diskNumName">
                    <span>已使用磁盘</span>
                </div>
                <div class="diskNumNum">
                    <span>{{usedDisk}}MB</span>
                </div>
            </div>
        </div>
    </div>

    <div class="homeLeft">
        <el-form :model="form" :inline="true">
            <el-form-item label="应用名称:">
                <el-input v-model="form.name"></el-input>
            </el-form-item>
                <el-form-item label="应用状态:">
                <el-select v-model="form.region" placeholder="应用状态">
                    <el-option label="全部" value="all"></el-option>
                    <el-option label="运行中" value="being"></el-option>
                    <el-option label="已关闭" value="closed"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="search">查询</el-button>
                <el-button>重置</el-button>
            </el-form-item>
        </el-form>

        <el-table
                :data="tableData.slice((currentPage-1)*pageSize,currentPage*pageSize)"
                style="width: 100%">
            <el-table-column
                    prop="name"
                    label="应用名称"
                    align="center"
                    width="180">
            </el-table-column>
            <el-table-column
                    prop="groupName"
                    label="应用组"
                    align="center"
                    width="180">
            </el-table-column>
            <el-table-column
                    prop="memoryUsed"
                    label="内存"
                    align="center"
                    width="180">
            </el-table-column>
            <el-table-column
                    prop="status"
                    align="center"
                    label="状态">
            </el-table-column>
        </el-table>
        <div class="page">
            <el-pagination
                    @current-change="handleCurrentChange"
                    background
                    layout="prev, pager, next"
                    :total="tableData.length">
            </el-pagination>
        </div>
    </div>
    <div class="homeRight">
        <div class="dynamicInfo">
            <div class="dynamicTitle">
                <span>动态</span>
            </div>
            <div>
            <span style="text-align: center" v-for="item in userAction">{{item.userName}}在{{item.gmtCreate}}{{item.actionName}}容器<br></span>
            </div>
        </div>
    </div>
</div>

<script>
    var home = new Vue({
        el: '#home',
        data: {
            form: {
                name: '',
                region: ''
            },
            userAction: '',
            currentPage:'',
            pageSize:10,
            radio:'',
            tableData: [],
            userName: '',
            appNum: '1',
            memberNum: '1',
            balance: '1',
            usedMemory: '326',
            usedDisk: '500',
            status: 1,

        },
        methods: {
            dynamicInit() {
                $.ajax({
                    type: 'get',
                    url: '/tianyu-paas/actions/info',
                    success: function (result) {
                        home.userAction = result.data;
                        console.log(result);
                    }
                })
            },
            homeInit() {
                var that = this;
                $.ajax({
                    type:'get',
                    url:'/tianyu-paas/apps/lists',
                    data: {
                        current:1,
                        size:100,
                    },
                    success:function (data) {
                        if(data.code === 1) {
                            let result = data.data.records;
                            for(let i = 0;i<data.data.total;i++) {
                                that.tableData.push(result[i]);
                                if(that.tableData[i].status === 1) {
                                    that.tableData[i].status = '运行中'
                                } else {
                                    that.tableData[i].status = '已关闭'
                                }
                            }
                            that.currentPage = data.data.current;
                        } else {
                            console.log(data.message)
                        }

                    },
                    error:function (data) {

                    }
                })
            },
            search() {
                if(home.form.region === "all") {
                    home.status = null;
                } else if(home.form.region === "being") {
                    home.status = 1
                } else {
                    home.status = 0
                }
                console.log(home.status);
                console.log(home.form.name);

                $.ajax({
                    type:'get',
                    url:'/tianyu-paas/apps/lists',
                    data: {
                        current:1,
                        size:100,
                        status: home.status,
                        name: home.form.name,
                    },
                    success:function (data) {
                        console.log(data);
                        if(data.code === 1) {
                            let result = data.data.records;
                            home.tableData = [];
                            for(let i = 0;i<data.data.total;i++) {
                                home.tableData.push(result[i]);
                                if(data.data.records[i].status === 1) {
                                    home.tableData[i].status = '运行中'
                                } else {
                                    home.tableData[i].status = '已关闭'
                                }
                            }
                            home.currentPage = data.data.current;
                            console.log(home.tableData);
                        } else {
                            console.log(home.message)
                        }

                    },
                    error:function (data) {

                    }
                })
            },
            handleCurrentChange: function(currentPage){
                this.currentPage = currentPage;
            }
        },
        created() {
            this.dynamicInit();
            this.homeInit()
        }

    })
</script>