<div id="form_1">
    <el-form :label-position="labelPosition" label-width="80px" :model="formLabelAlign" class="form">
        <el-form-item label="应用名称:">
            <el-input v-model="formLabelAlign.name" placeholder="请为创建的应用起名"></el-input>
        </el-form-item>
        <el-form-item label="应用组:">
            <el-select class="select-group" v-model="formLabelAlign.group" placeholder="选择应用组">

                <el-option v-for="item in labelArr" :value="item.appGroupId"
                           :label="item.groupName">

                </el-option>
            </el-select>

            <el-button @click="dialogFormVisible = true" class="add-group-button">新建组</el-button>
            <el-dialog title="新建应用组" :visible.sync="dialogFormVisible" width="30%">
                <el-form :model="ruleForm" staus-icon :rules="rules" ref="ruleForm" class="demo-rul eForm"
                         label-position="right" label-width="80px" :model="formLabelAlign">
                    <el-form-item label="组名称" prop="group_name">
                        <el-input placeholder="请填写组名称" v-model="ruleForm.group_name"></el-input>
                    </el-form-item>
                </el-form>
                <div slot="footer" class="dialog-footer">
                    <el-button @click="dialogFormVisible = false">取 消</el-button>
                    <el-button type="primary" @click="dialogFormVisible = false" @click.native="addGroup();">确 定
                    </el-button>
                </div>
            </el-dialog>
            </el-select>
        </el-form-item>
        <el-form-item label="仓库地址:">
            <el-input placeholder="请输入仓库地址" v-model="formLabelAlign.address" class="input-with-select">
                <el-select class="select-git" v-model="formLabelAlign.select" slot="prepend">
                    <el-option label="git" value="1"></el-option>
                </el-select>
            </el-input>
        </el-form-item>
        <el-form-item label="代码分支:">
            <el-input v-model="formLabelAlign.branch" id="branch-input"></el-input>
        </el-form-item>
        <el-button type="primary" class="add-button" @click.native="addApp">新建应用</el-button>
    </el-form>
</div>
<script>
    var custom_source_code = new Vue({
        el: '#form_1',
        data() {
            return {
                labelPosition: 'right',
                formLabelAlign: {
                    name: '',
                    group: '',
                    address: '',
                    branch: '',
                    select: 'git',
                },
                select: '',
                labelArr: [],
                dialogFormVisible: false,
                ruleForm: {
                    group_name: '',
                },
                formLabelWidth: '60px',
                rules: {
                    group_name: [
                        {required: true, message: '请输入组名称', trigger: 'blur'}
                    ]
                },
                activeIndex: '1',
                pageArr: 'custom_code.html'
            };
        },

        methods: {
            appList() {
                var that = this;

                $.ajax({
                    type: "get",
                    url: 'app-groups',
                    dataType: "json",
                    success: function (result) {
                        that.labelArr = result.data

                    },
                    error: function () {
                        console.log('fail')
                    }
                })

            },
            addGroup() {
                var that = this;
                that.labelArr = [];
                $.ajax({
                    type: "post",
                    url: 'app-groups',
                    data: {
                        groupName: this.ruleForm.group_name,
                    },
                    success: function (TResultCode) {
                        if (TResultCode.code == 1) {
                            custom_source_code.$message({
                                message: '新建组成功',
                                type: 'success'
                            });
                            custom_source_code.appList();
                        }
                        else {
                            alert(TResultCode.message)
                        }
                    },
                    error: function () {
                        console.log("fail")
                    }
                })
            },

            addApp() {

                web.ajax({
                    type: 'post',
                    url: '/tianyu-paas/apps/custom',
                    data: {
                        name: this.formLabelAlign.name,
                        appGroupId: this.formLabelAlign.group,
                        repositoryUrl: this.formLabelAlign.address,
                        branch: this.formLabelAlign.branch,
                    },
                    success: function (result) {
                        if (result.code === 1) {
                            $('#content').load("pages/examine.html", function (response, message, xhr) {
                            });
                        }
                        else {
                            alert(result.message);
                        }
                    },
                    error: function () {
                        console.log('fail')
                    }

                }, custom_source_code)
            }
        },
        mounted() {
            this.appList();
        }
    });
    $("#branch-input").val("master");
</script>
<style>
    .form {
        background: white;
        padding: 3% 32%;
    }

    .el-input__inner {
        height: 35px;

    }

    .select-group {
        width: 80%;
    }

    .add-group-button {
        height: 35px;
        padding: 8px 20px;
    }

    .add-button {
        margin-left: 15%;
    }

    .select-git {
        width: 130px;
    }

</style>