<div class="form">
    <el-form :label-position="labelPosition" label-width="80px" :model="formLabelAlign" id="form_2">
        <el-form-item label="应用名称:">
            <el-input v-model="formLabelAlign.name" placeholder="请为创建的应用起名"></el-input>
        </el-form-item>
        <el-form-item label="应用组:">
            <el-select class="select-group" v-model="formLabelAlign.group" placeholder="选择应用组">

                <el-option v-for="(item, index) in labelArr" :key="item.index" :value="item.id"
                           :label="item.label">

                </el-option>
            </el-select>
            <el-button @click="dialogFormVisible = true" class="add-group-button">新建</el-button>
            <el-dialog title="新建应用组" :visible.sync="dialogFormVisible" width="30%">
                <el-form :model="ruleForm" staus-icon :rules="rules" ref="ruleForm" class="demo-ruleForm"
                         label-position="right" label-width="80px" :model="formLabelAlign">
                    <el-form-item label="组名称" prop="group_name">
                        <el-input placeholder="请填写组名称" v-model="ruleForm.group_name"></el-input>
                    </el-form-item>
                </el-form>
                <div slot="footer" class="dialog-footer">
                    <el-button @click="dialogFormVisible = false">取 消</el-button>
                    <el-button type="primary" @click="dialogFormVisible = false" @click.native="addGroup()">确 定
                    </el-button>
                </div>
            </el-dialog>
        </el-form-item>
        <el-form-item label="demo:">
            <el-select class="select-demo" v-model="formLabelAlign.demo" placeholder="请选择demo">
                <el-option v-for="item in demoArr" :key="item.demoId" :label="item.packingMethod" :value="item.demoId"></el-option>
            </el-select>
        </el-form-item>
        <el-button type="primary" class="add-button" @click.native="addApp">创建项目</el-button>

    </el-form>

</div>
<script>
    var create_by_demo = new Vue({
        el: '#form_2',
        data() {
            return {
                labelPosition: 'right',
                formLabelAlign: {
                    name: '',
                    group: '',
                    demo: ''
                },
                labelArr: [
                    {label: '', id: ''}
                ],
                demoArr: [],
                dialogFormVisible: false,
                ruleForm: {
                    group_name: '',
                },
                formLabelWidth: '60px',
                rules: {
                    group_name: [
                        {required: true, message: '请输入组名称', trigger: 'blur'}
                    ]
                }
            };
        },
        methods: {
            getdemo(){
                $.ajax({
                    type: "get",
                    url: 'demos',
                    success: function (result) {
                        create_by_demo.demoArr = result.data;
                    }
                })
            },
            addGroup() {
                $.ajax({
                    type: "post",
                    url: 'app-groups',
                    data: {
                        groupName: this.ruleForm.group_name,
                    },
                    success: function (TResultCode) {
                        console.log("the result is " + TResultCode.code);
                        if (TResultCode.code == 1) {
                            create_by_demo.$message({
                                message: '新建组成功',
                                type: 'success'
                            });
                            create_by_demo.appList();
                        }
                        else {
                            create_by_demo.$message({
                                message: TResultCode.message,
                                type: 'success'
                            });
                        }
                    },
                    error: function () {
                        console.log("fail")
                    }
                })
            },
            appList() {
                var that = this;

                $.ajax({
                    type: "get",
                    url: 'app-groups',
                    dataType: "json",
                    success: function (result) {

                        for (var i = 0; i < result.data.length; i++) {
                            // console.log(result.data[i].appGroupId);
                            var obj = that.labelArr[0];
                            var testObj = {label: "", id: ""};
                            obj.label = result.data[i].groupName;
                            obj.id = result.data[i].appGroupId;

                            testObj.label = obj.label;
                            testObj.id = obj.id;

                            that.labelArr.push(testObj);
                        }
                    },
                    error: function () {
                        console.log('fail')
                    }
                })
            },
            addApp() {
                $('#content').load("pages/examine.html", function (response, message, xhr) {
                });
                console.log(this.formLabelAlign.group);
                $.ajax({
                    type: 'post',
                    url: '/tianyu-paas/apps/demo',
                    data: {
                        name: this.formLabelAlign.name,
                        appGroupId: this.formLabelAlign.group,
                        demoId: this.formLabelAlign.demo,
                    },
                    success: function (result) {
                        console.log(result);
                        if (result.code === 1) {
                            create_by_demo.$message({
                                message: '新建应用成功',
                                type: 'success'
                            });
                        }
                        else {
                            create_by_demo.$message({
                                message: result.message,
                                type: 'warning'
                            });
                        }
                    },
                    error: function () {
                        console.log('fail')
                    }

                })
            }
        },
        mounted() {
            this.appList();
            this.getdemo();
        }
    });
    $("#branch-input").val("master");
</script>
<style>
    .form {
        background: white;
        padding: 3% 32%;
    }

    .el-input__inner {
        height: 35px;

    }

    .select-group {
        width: 80%;
    }

    .select-demo {
        width: 100%;
    }

    .add-group-button {
        height: 35px;
        padding: 8px 20px;
    }

    .add-button {
        margin-left: 15%;
    }
</style>
