<style>
    .text {
        color: #495060;
        margin-top: 8px;
        margin-right: 15px;
    }

    p {
        font-size: 14px;
        color: #495060;
        margin-top: 8px;
        margin-right: 8px;
    }
</style>
<body>
<div id="push_message">
    <div style="margin: 10px 20px; display: inline-flex">
        <p>主页</p>
        <p>/</p>
        <p>用户管理</p>
        <p>/</p>
        <p style="font-weight: bold">信息推送</p>
    </div>
    <div style="margin: 10px 20px">
        <p style="font-size: 20px; color: black">新注册用户信息推送</p>
        <p style="margin: 8px 0px 20px">给新注册用户信息推送</p>
    </div>
    <i-table stripe border :columns="columns1" :data="data2" style="margin:10px 20px"></i-table>
    <Row>
        <i-col span="2" offset="22">
            <i-button type="primary" @click="modal1 = true">发送推送</i-button>
            <Modal
                    v-model="modal1"
                    title="消息推送">
                <i-input v-model="value" placeholder="请输入推送内容"></i-input>

            </Modal>
        </i-col>
    </Row>
    </template>

</div>

</body>
<script>
    var push_message = new Vue({
        el: '#push_message',
        data() {
            return {
                modal1: false,
                value: '',
                columns1: [
                    {
                        title: '姓名',
                        key: 'name',
                        render: (h, params) => {
                            return h('div', [
                                h('Icon', {
                                    props: {
                                        type: 'person'
                                    }
                                }),
                                h('strong', params.row.name)
                            ]);
                        }
                    },
                    {
                        title: '邮箱',
                        key: 'email'
                    },
                    {
                        title: '手机号',
                        key: 'phone'
                    },
                    {
                        title: '注册时间',
                        key: 'time'
                    },
                ],

                data2: []
            }
        },
        methods:{
            messagePush() {
                var that = this
                $.ajax({
                    type:'get',
                    url:'admins/register-recent-days/',
                    success:function (data) {
                        if(data.data) {
                            console.log("nothing")
                        }
                        else{
                            var result = data.data.records
                            console.log(result)
                            for(var i = 0;i<result.length;i++) {
                                that.data2.push(result[i])
                                console.log(that.data2)
                            }
                            console.log(data)
                        }

                    },
                    error:function (err) {
                        console.log(err)
                    }
                })
            }
        },
        mounted() {
            this.messagePush()
        }

    })
</script>
