<style>
    .text {
        color: #495060;
        margin-top: 8px;
        margin-right: 15px;
    }

    p {
        font-size: 14px;
        color: #495060;
        margin-top: 8px;
        margin-right: 8px;
    }
    .ivu-table{
        height:auto;
    }
</style>
<body>
<div id="push_message">
    <div style="margin: 10px 20px; display: inline-flex">
        <p>主页</p>
        <p>/</p>
        <p>用户管理</p>
        <p>/</p>
        <p style="font-weight: bold">信息推送</p>
    </div>
    <div style="margin: 10px 20px">
        <p style="font-size: 20px; color: black">用户信息推送</p>
        <p style="margin: 8px 0px 20px">给用户推送信息</p>
    </div>
    <Row>
        <i-col span="2" offset="22">
            <i-button type="primary" @click="modal1 = true">发送推送</i-button>
            <Modal
                    @on-ok="messagePush"
                    v-model="modal1"
                    title="消息推送">
                <div style="margin: 20px">
                    <span>推送内容</span>
                    <i-input v-model="value" type="textarea" :autosize="{minRows: 2,maxRows: 5}" placeholder="请输入推送内容" style="width: 60%;margin-left: 15px"></i-input>
                </div>
            </Modal>
        </i-col>
    </Row>
    <i-table stripe border @on-selection-change="selected"  :columns="columns1" :data="labelArr" style=" margin:10px 20px"></i-table>
    <Page :total="Total" @on-change="userList" style="margin-left: 40%">
    </Page>

    </template>

</div>

</body>
<script>
    var push_message = new Vue({
        el: '#push_message',
        data() {
            return {
                Total: '100',
                selecteduserId: '',
                labelArr:[],
                modelselect:[],
                modal1: false,
                value: '',
                columns1: [
                    {
                        type: 'selection',
                        width: 60,
                        align: 'center',
                    },
                    {
                        title: '姓名',
                        key: 'name',
                    },
                    {
                        title: '邮箱',
                        key: 'email'
                    },
                    {
                        title: '手机号',
                        key: 'phone'
                    },
                    {
                        title: '注册时间',
                        key: 'gmtCreate'
                    },
                ],

                data2: []
            }
        },
        methods:{
            selected(selection) {
                push_message.selecteduserId = [];
                for (let i = 0; i < selection.length ; i++) {
                    if (i === selection.length -1){
                        push_message.selecteduserId =  push_message.selecteduserId + selection[i].userId;
                    } else {
                        push_message.selecteduserId = selection[i].userId + ',' + push_message.selecteduserId;
                    }
                    console.log(i);
                }


            },
            messagePush() {
                console.log(push_message.selecteduserId);
                var that = this;
                $.ajax({
                    type:'post',
                    url:'messages',
                    data: {
                        content: push_message.value,
                        userIds: push_message.selecteduserId,
                    },
                    success:function (data) {
                        console.log(data);
                        alert("发送成功");

                    },
                    error:function (err) {
                        console.log(err)
                    }
                })
            },
            userList(row) {
                var that= this;
                console.log(row);
                $.ajax({
                    type: "get",
                    url: 'admins',
                    data: {
                        current: row,
                    },
                    success: function (result) {
                        console.log(result);
                        push_message.Total = result.data.total;
                        var res = result.data.records;
                        that.labelArr = [];
                        for(var i = 0;i<res.length;i++) {
                            that.labelArr.push(res[i])
                        }
                        console.log(res);
                    },
                    error: function () {
                        console.log('fail')
                    }
                })
            },
        },

        mounted() {
//            this.messagePush()
            this.userList();
        }

    })
</script>
