
    <style>
        html, body {
            font-family: sans-serif;
            font-size: 14px;
            line-height: 1.5;
            background: #f0f2f5 !important;
            color: rgba(0, 0, 0, .65);
        }

        .a {
            /*display: inline-block;*/
            margin: 10px;
            min-height: 170px;
            border: 1px solid #e8e8e8;
            padding: 16px 32px 0;
            background-color: #fff;

        }

        .statusFirst, .timeSecond, .dpsThird, .resoureFourth {
            padding: 40px 0 40px 0;
            margin: 20px;
            border-bottom: 1px solid #e8e8e8;
        }

        .text {
            text-align: center;
        }

        .infos div {
            float: left;
            padding: 20px;
            margin: 10px;
        }

        .infoinfos {
            border: 1px solid #e8e8e8;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            min-width: 800px;
            margin-left: 100px;
        }

        .bottom {
            padding: 20px;
            margin: 10px;
            background: #fff;
            min-height: 150px;
        }

        .makeInfo {
            padding: 20px;
            background: #fff;
            border-bottom: 1px solid #e8e8e8;
        }
    </style>

<div id="overview">
    <div class="top">
        <el-row>
            <el-row :gutter="20">
                <el-col :span="6" :sm="12" :xs="24" :md="6" :lg="6">
                    <div class="first a">
                        <span>应用状态</span>
                        <div class="statusFirst" ></div>
                        <div class="text">
                            <span>运行中</span>
                        </div>
                    </div>
                </el-col>
                <el-col :span="6" :sm="12" :xs="24" :md="6" :lg="6">
                    <div class="second a">
                        <span>平均响应时间(ms)</span>
                        <div class="timeSecond">

                        </div>
                    </div>
                </el-col>
                <el-col :span="6" :sm="12" :xs="24" :md="6" :lg="6">
                    <div class="third a">
                        <span>吞吐率(dps)</span>
                        <div class="dpsThird">

                        </div>
                    </div>
                </el-col>
                <el-col :span="6" :sm="12" :xs="24" :md="6" :lg="6">
                    <div class="fourth a">
                        <span>资源使用</span>
                        <div class="resoureFourth">

                        </div>
                    </div>
                </el-col>
            </el-row>
        </el-row>
    </div>
    <div class="bottom">
        <el-row>
            <el-col :span="24" :sm="24" :xs="24" :md="24" :lg="24">
                <div class="makeInfo">
                    <span>操作日志</span>
                </div>
                <el-collapse>
                    <el-collapse-item v-for="(item , index) in actionTitle" :title="item" :key="index">
                            <el-button label="Info日志" size="small" @click="getInfoLog(app_id[index])">Info日志</el-button>
                            <el-button label="Debug日志" size="small" @click="getDebugLog(app_id[index])">Debug日志</el-button>
                            <el-button label="Error日志" size="small" @click="getErrorLog(app_id[index])">Error日志</el-button>
                            <p>{{actionLog}}</p>
                    </el-collapse-item>
                </el-collapse>
                <!--<div class="infos" v-for="item in actionList" :key="item">-->
                    <!--<div class="timeinfos">-->
                        <!--{{item.gmtCreate}}-->
                    <!--</div>-->
                    <!--<div class="infoinfos">-->
                        <!--<span>{{item.actionName}}@{{item.userName}}</span>-->
                    <!--</div>-->
                    <!--<div class="loadInfo">-->
                        <!--<el-button></el-button>-->
                    <!--</div>-->
                    <!--<div class="logGroup">-->

                    <!--</div>-->
                <!--</div>-->
                <!--<div class="infos">-->
                    <!--<div class="timeinfos">14:32:19</div>-->
                    <!--<div class="infoinfos">-->
                        <!--<span>部署完成@陈秋凡</span>-->
                        <!--<span>{{}}</span>-->
                    <!--</div>-->
                <!--</div>-->
            </el-col>
        </el-row>
    </div>

</div>
<script>
    var overview = new Vue({
        el: '#overview',
        data: {
            appId:'',
            actionId:'',
            actionList:{

            },
            actionTitle:[],
            app_id:[],
            actionLog:''

        },
        methods: {
            //加载操作日志的条数及信息
            overviewInit() {
                var that = this
                $.ajax({
                    type: 'get',
                    url: '/tianyu-paas/actions/info',
                    data:{},
                    success: function (data) {
                        console.log(data)
                        var result = data.data
                        if(data.code === 1) {
                            that.actionList = result
                            $.each(result,function (index, val) {
                                var res = val.actionName+'@'+ val.userName
                                that.actionTitle.push(res)
                                that.app_id.push(val.actionId)
                            })
                            console.log(data.message)
                            that.appId = result.appId
                            that.actionId = result.actionId
                        }

                    },
                    error: function (data) {

                    }
                })
            },
            //获取单个操作日志的Info日志
            getInfoLog(action_id) {
                $.ajax({
                    type:'get',
                    url:'/tianyu-paas/actions/detail',
                    data:{
                        appId:appinfo.app_id,
                        actionId:action_id,
                        level:'0'
                    },
                    success:function (data) {

                    },
                    error:function () {

                    }
                })
            },
            //获取单个操作日志的Debug日志
            getDebugLog(action_id) {
                $.ajax({
                    type:'get',
                    url:'/tianyu-paas/actions/detail',
                    data:{
                        appId:appinfo.app_id,
                        actionId:action_id,
                        level:'1'
                    },
                    success:function (data) {

                    },
                    error:function () {

                    }
                })
            },
            //获取单个操作日志的Error日志
            getErrorLog(action_id) {
                $.ajax({
                    type:'get',
                    url:'/tianyu-paas/actions/detail',
                    data:{
                        appId:appinfo.app_id,
                        actionId:action_id,
                        level:'2'
                    },
                    success:function (data) {

                    },
                    error:function () {

                    }
                })
            },
            getActionDetail() {
                $.ajax({
                    type:'get',
                    url:'/tianyu-paas/actions/detail',
                    data: {
                        appId:appinfo.app_id,
                        actionId:'1',
                        level:'1'
                    },
                    success:function (data) {
                        console.log(data)
                    },
                    error:function (data) {

                    }

                })
            }
        },
        mounted() {
            this.overviewInit()
//            this.getAction()
            this.getActionDetail()
            console.log("overview:"+appinfo.app_id)
        }
    });
</script>
