
    <style>
        html, body {
            font-family: sans-serif;
            font-size: 14px;
            line-height: 1.5;
            background: #f0f2f5 !important;
            color: rgba(0, 0, 0, .65);
        }

        .a {
            /*display: inline-block;*/
            margin: 10px;
            min-height: 170px;
            border: 1px solid #e8e8e8;
            padding: 16px 32px 0;
            background-color: #fff;

        }

        .statusFirst, .timeSecond, .dpsThird, .resoureFourth {
            padding: 40px 0 40px 0;
            margin: 20px;
            border-bottom: 1px solid #e8e8e8;
        }

        .text {
            text-align: center;
        }

        .infos div {
            float: left;
            padding: 20px;
            margin: 10px;
        }

        .infoinfos {
            border: 1px solid #e8e8e8;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            min-width: 800px;
            margin-left: 100px;
        }

        .bottom {
            padding: 20px;
            margin: 10px;
            background: #fff;
            min-height: 150px;
        }

        .makeInfo {
            padding: 20px;
            background: #fff;
            border-bottom: 1px solid #e8e8e8;
        }

        .button {
            text-align: right;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    </style>

<div id="port">
    <div class="button">
        <el-button type="primary" @click="dialogFormVisible = true"><i class="el-icon-plus"></i>添加端口</el-button>
        <el-dialog title="添加变量" :visible.sync="dialogFormVisible">
            <el-form :model="ruleForm" staus-icon ref="ruleForm" class="demo-ruleForm"
                     label-position="left" label-width="80px" >
                <el-form-item label="变量名" prop="var_name">
                    <el-input placeholder="请填写端口，范围1025-65535" v-model="ruleForm.port"></el-input>
                </el-form-item>
                <el-form-item label="协议" prop="var_val">
                    <el-select v-model="ruleForm.protocol">
                        <el-option
                                v-for="item in options"
                                :key="item.value"
                                :label="item.label"
                                :value="item.value">
                        </el-option>
                    </el-select>
                </el-form-item>

            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="dialogFormVisible = false">取 消</el-button>
                <el-button type="primary" @click="dialogFormVisible = false" @click.native="addPort">确 定
                </el-button>
            </div>
        </el-dialog>
    </div>
    <div class="duankou">
        <div class="homeMiddle">
            <el-row :gutter="20">
                <el-col :span="24" :sm="24" :xs="24" :md="24" :lg="24">
                    <div class="first a">
                        <div>
                            <el-table
                                    :data="portInfo"
                                    style="width: 100%;">
                                <el-table-column
                                        prop="num"
                                        label="端口号"
                                        width="180">
                                </el-table-column>
                                <el-table-column
                                        prop="protocol"
                                        label="端口协议"
                                        width="180">
                                </el-table-column>
                                <el-table-column
                                        prop="serviceinfo"
                                        label="服务信息"
                                        width="180">
                                </el-table-column>
                                <el-table-column
                                        prop="domain"
                                        label="绑定域名"
                                        width="180">
                                </el-table-column>
                                <el-table-column
                                        label="操作">
                                </el-table-column>
                            </el-table>
                        </div>
                        <div class="button">
                            <el-button><i class="el-icon-plus"></i>设置成员应用权限</el-button>
                        </div>
                    </div>
                </el-col>
            </el-row>
        </div>

    </div>


</div>
<script>
    var port = new Vue({
        el: '#port',
        data: {
            portInfo:[],
            ruleForm: {
                port: '',
                protocol:''
            },
            dialogFormVisible: false,
            options: [{
                value: '0',
                label: 'http'
            }, {
                value: '1',
                label: 'mysql'
            }, {
                value: '2',
                label: 'tcp'
            }, {
                value: '3',
                label: 'udp'
            }],
            value: ''
        },
        methods: {
            portInit() {
                $.ajax({
                    type:'get',
                    url:'/tianyu-paas/app-ports/'+appinfo.app_id,
                    data: {

                    },
                    success:function (data) {
                        console.log(data)
                    },
                    error:function () {

                    }

                })
            },
            addPort() {
                $.ajax({
                    type:'post',
                    url:'/tianyu-paas/app-ports',
                    data: {
                        appId:appinfo.app_id,
                        port:this.ruleForm.port,
                        protocol:this.ruleForm.protocol
                    },
                    success:function (data) {
                        console.log(data)
                    },
                    error:function () {

                    }
                })
            }
        },
        mounted() {
            this.portInit()
        }

    });
</script>
