
    <style>
        html, body {
            font-family: sans-serif;
            font-size: 14px;
            line-height: 1.5;
            background: #f0f2f5 !important;
            color: rgba(0, 0, 0, .65);
        }

        .a {
            /*display: inline-block;*/
            margin: 10px;
            min-height: 170px;
            border: 1px solid #e8e8e8;
            padding: 16px 32px 0;
            background-color: #fff;

        }

        .statusFirst, .timeSecond, .dpsThird, .resoureFourth {
            padding: 40px 0 40px 0;
            margin: 20px;
            border-bottom: 1px solid #e8e8e8;
        }

        .text {
            text-align: center;
        }

        .infos div {
            float: left;
            padding: 20px;
            margin: 10px;
        }

        .infoinfos {
            border: 1px solid #e8e8e8;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            min-width: 800px;
            margin-left: 100px;
        }

        .bottom {
            padding: 20px;
            margin: 10px;
            background: #fff;
            min-height: 150px;
        }

        .makeInfo {
            padding: 20px;
            background: #fff;
            border-bottom: 1px solid #e8e8e8;
        }

        .button {
            text-align: right;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    </style>

<div id="rely">
    <div class="yilai">
        <div class="homeMiddle">
            <el-row :gutter="20">
                <el-col :span="24" :sm="24" :xs="24" :md="24" :lg="24">
                    <div class="first a">
                        <div class="makeInfo">
                            <span>应用连接信息</span>
                        </div>
                        <div>
                            <el-table
                                    :data="connectInfo"
                                    style="width: 100%;">
                                <el-table-column
                                        prop="varName"
                                        label="变量名"
                                        width="260">
                                </el-table-column>
                                <el-table-column
                                        prop="varValue"
                                        label="变量值"
                                        width="260">
                                </el-table-column>
                                <el-table-column
                                        prop="varExplain"
                                        label="说明"
                                        width="260">
                                </el-table-column>
                                <el-table-column
                                        prop="opera"
                                        label="操作">
                                    <template slot-scope="scope">
                                        <el-button type="danger" size="small" @click='delete_var(scope.row)' >删除</el-button>
                                    </template>
                                </el-table-column>
                            </el-table>
                        </div>
                        <div class="button">
                            <el-button @click="dialogFormVisible = true"><i class="el-icon-plus"></i>添加变量</el-button>

                        </div>
                    </div>
                </el-col>
            </el-row>
        </div>
        <el-dialog title="添加变量" :visible.sync="dialogFormVisible" width="30%">
            <el-form :model="ruleForm" staus-icon ref="ruleForm" class="demo-ruleForm"
                     label-position="left" label-width="80px" >
                <el-form-item label="变量名" prop="var_name">
                    <el-input placeholder="请输入变量名称 格式/^[A-Z][A-Z0-9_]*$/" v-model="ruleForm.var_name"></el-input>
                </el-form-item>
                <el-form-item label="变量值" prop="var_val">
                    <el-input placeholder="请输入变量值" v-model="ruleForm.var_val"></el-input>
                </el-form-item>
                <el-form-item label="说明" prop="var_des">
                    <el-input placeholder="请输入变量说明" v-model="ruleForm.var_des"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="dialogFormVisible = false">取 消</el-button>
                <el-button type="primary" @click="dialogFormVisible = false" @click.native="addVar">确 定
                </el-button>
            </div>
        </el-dialog>
        <div class="homeBottom">
            <el-row :gutter="20">
                <el-col :span="24" :sm="24" :xs="24" :md="24" :lg="24">
                    <div class="first a">
                        <div class="makeInfo">
                            <span>依赖应用信息</span>
                        </div>
                        <div>
                            <el-table
                                    :data="appInfo"
                                    style="width: 100%;">
                                <el-table-column
                                        prop="name"
                                        label="应用名"
                                        width="180">
                                </el-table-column>
                                <el-table-column
                                        prop="group"
                                        label="所属组"
                                        width="180">
                                </el-table-column>
                                <el-table-column
                                        prop="des"
                                        label="应用说明"
                                        width="180">
                                </el-table-column>
                                <el-table-column
                                        prop="opera"
                                        label="操作">
                                </el-table-column>
                            </el-table>
                        </div>
                        <div class="button">
                            <el-button><i class="el-icon-plus"></i>添加依赖</el-button>
                        </div>
                    </div>
                </el-col>
            </el-row>
        </div>
    </div>


</div>
<script>
    var rely = new Vue({
        el: '#rely',
        data: {
            appInfo:[],
            connectInfo: [],
            ruleForm: {
                var_name: '',
                var_val:'',
                var_des:''
            },
            dialogFormVisible: false,

        },
        methods:{
            delete_var() {
                this.$confirm('此操作将永久删除该变量, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    $.ajax({
                        type: 'delete',
                        url: '/tianyu-paas/apps/' + appinfo.app_id,

                        success: function (result) {
                            appinfo.$message({
                                message: '删除成功!',
                                type: 'success'
                            });
                        },
                        error: function () {

                        }
                    })
                })
            },
            relyInit() {
                let that = this;

                $.ajax({
                    type:'get',
                    url:'/tianyu-paas/app-vars/'+appinfo.app_id,
                    success:function (data) {
                        let result = data.data;
                        for (let i = 0; i < result.length; i++) {
                            that.connectInfo.push(result[i])
                        }
                    },
                    error:function () {

                    }
                });
                $.ajax({
                    type:'get',
                    url:'/tianyu-paas/app-relys/'+appinfo.app_id,
                    success:function (data) {
                        if(data.code === 1) {
                        let result = data.data;
                        }
                       console.log(data);
                    },
                    error:function () {

                    }
                })
            },
            addVar() {
                let that = this;
                let val = [{
                    appId: appinfo.app_id, varName: this.ruleForm.var_name,
                    varValue: this.ruleForm.var_val,
                    varExplain: this.ruleForm.var_des,
                    gmtCreate:''
                }];

                $.ajax({
                    type:'post',
                    url:'/tianyu-paas/app-vars/',
                    data: {
                        appId:appinfo.app_id,
                        varName:this.ruleForm.var_name,
                        varValue:this.ruleForm.var_val,
                        varExplain:this.ruleForm.var_des
                    },
                    success:function (data) {
                        console.log(data);
                        if (data.code === 1){
                        rely.$message({
                            message: '添加成功',
                            type: 'success'
                        });
                        that.connectInfo.push(val[0])
                        } else {
                            rely.$message({
                                message: data.message,
                                type: 'warning'
                            })
                        }

                    },
                    error:function () {

                    }
                })
            }
        },
        mounted() {
            this.relyInit()
        }
    });
</script>
