<style>
    html, body {
        font-family: sans-serif;
        font-size: 14px;
        line-height: 1.5;
        background: #f0f2f5 !important;
        color: rgba(0, 0, 0, .65);
    }

    .a {
        /*display: inline-block;*/
        margin: 10px;
        min-height: 170px;
        border: 1px solid #e8e8e8;
        padding: 16px 32px 0;
        background-color: #fff;

    }

    .statusFirst, .timeSecond, .dpsThird, .resoureFourth {
        padding: 40px 0 40px 0;
        margin: 10px;
        border-bottom: 1px solid #e8e8e8;
    }

    .text {
        text-align: center;
    }

    .infos div {
        float: left;
        padding: 20px;
        margin: 10px;
    }

    .infoinfos {
        border: 1px solid #e8e8e8;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        min-width: 800px;
        margin-left: 100px;
    }

    .bottom {
        padding: 20px;
        margin: 10px;
        background: #fff;
        min-height: 150px;
    }

    .makeInfo {
        padding: 20px;
        background: #fff;
        border-bottom: 1px solid #e8e8e8;
    }
</style>

<div id="overview">
    <div class="top">
        <el-row>
            <el-row :gutter="20">
                <el-col :span="6" :sm="12" :xs="24" :md="6" :lg="6">
                    <div class="first a">
                        <span>应用状态</span>
                        <div class="statusFirst" v-if="true">
                            <span>{{runningState}}</span>
                        </div>
                        <div class="text">

                        </div>
                    </div>
                </el-col>
                <el-col :span="6" :sm="12" :xs="24" :md="6" :lg="6">
                    <div class="second a">
                        <span>平均响应时间(ms)</span>
                        <div class="timeSecond">
                            <span>未知</span>
                        </div>
                    </div>
                </el-col>
                <el-col :span="6" :sm="12" :xs="24" :md="6" :lg="6">
                    <div class="third a">
                        <span>吞吐率(dps)</span>
                        <div class="dpsThird">
                            <span>12dps</span>
                        </div>
                    </div>
                </el-col>
                <el-col :span="6" :sm="12" :xs="24" :md="6" :lg="6">
                    <div class="fourth a">
                        <span>内存使用</span>
                        <div class="resoureFourth">
                            <span>{{memoryUsed}}</span>
                        </div>
                    </div>
                </el-col>
            </el-row>
        </el-row>
    </div>
    <div class="bottom">
        <el-row>
            <el-col :span="24" :sm="24" :xs="24" :md="24" :lg="24">
                <div class="makeInfo">
                    <span>操作日志</span>
                </div>
                <div v-for="(item, index) in actionList">
                    <el-row :span="24">
                        <el-col :span="3">
                            <p style="margin-top: 15px">{{item.gmtCreate}}</p>
                        </el-col>
                        <el-col :span="21">
                            <el-collapse>
                                <el-collapse-item :title="item.userName+' @ '+item.actionName + item.appName" :key="index">

                                    <el-button label="Info日志" size="small" @click="getInfoLog(item.actionId,index)">
                                        Info日志
                                    </el-button>
                                    <el-button label="Debug日志" size="small" @click="getDebugLog(item.actionId,index)">
                                        Debug日志
                                    </el-button>
                                    <el-button label="Error日志" size="small" @click="getErrorLog(item.actionId,index)">
                                        Error日志
                                    </el-button>
                                    <p v-for="(detail) in item.details">{{detail.content}}</p>
                                </el-collapse-item>
                            </el-collapse>
                        </el-col>
                    </el-row>

                </div>
            </el-col>
        </el-row>
    </div>
</div>
<script>
    var overview = new Vue({
        el: '#overview',
        data: {
            id: '',
            appId: [],
            actionId: '',
            actionList: {},
            app_id: [],
            runningState: '',
            memoryUsed: '',
        },
        methods: {
            initAppInfo(appId) {

            },
            //加载操作日志的条数及信息
            overviewInit() {
                var that = this;
                $.ajax({
                    type: 'get',
                    url: '/tianyu-paas/actions/' + overview.id,
                    data: {},
                    success: function (data) {
                        var result = data.data;
                        if (data.code === 1) {
                            console.log(data);
                            that.actionList = result;
                            that.appId = result.appId;
                            that.actionId = result.actionId
                        }

                    }
                })
            },
            //获取单个操作日志的Info日志
            getInfoLog(action_id, index) {
                overview.actionList[index].details = ['正在加载'];
                $.ajax({
                    type: 'get',
                    url: '/tianyu-paas/actions/detail',
                    data: {
                        appId: overview.id,
                        actionId: action_id,
                        level: '0'
                    },
                    success: function (data) {
                        console.log(data);
                        overview.actionList[index].details = data.data;
                        console.log(overview.actionList[index].details);
                    },
                    error: function () {

                    }
                })
            },
            //获取单个操作日志的Debug日志
            getDebugLog(action_id, index) {
                overview.actionList[index].details = [];
                $.ajax({
                    type: 'get',
                    url: '/tianyu-paas/actions/detail',
                    data: {
                        appId: overview.id,
                        actionId: action_id,
                        level: '1'
                    },
                    success: function (data) {
                        overview.actionList[index].details = data.data;
                    },
                    error: function () {

                    }
                })
            },
            //获取单个操作日志的Error日志
            getErrorLog(action_id, index) {
                overview.actionList[index].details = [];
                $.ajax({
                    type: 'get',
                    url: '/tianyu-paas/actions/detail',
                    data: {
                        appId: overview.id,
                        actionId: action_id,
                        level: '2'
                    },
                    success: function (data) {
                        overview.actionList[index].details = data.data;
                    },
                    error: function () {

                    }
                })
            },
            getActionDetail() {
                $.ajax({
                    type: 'get',
                    url: '/tianyu-paas/actions/detail',
                    data: {
                        appId: appinfo.app_id,
                        actionId: '1',
                        level: '1'
                    },
                    success: function (data) {
//                        console.log(data)
                    },
                    error: function (data) {

                    }

                })
            },
            getId(id) {
                overview.id = id;
                overview.infoInit();
                overview.overviewInit();
            },
            infoInit() {
                var that = this;
                $.ajax({
                    type: 'get',
                    url: '/tianyu-paas/apps/' + overview.id,
                    success: function (result) {
//                        console.log(result);
                        //获取运行状态
                        if (result.data.status === 0) {
                            overview.runningState = "停止运行";
                        } else if (result.data.status === 1) {
                            overview.runningState = "正在运行";
                        } else {
                            overview.runningState = "异常";
                        }
                        //获取内存使用状态
                        overview.memoryUsed = result.data.memoryUsed + "MB";
                    },
                    error: function () {

                    }
                })
            },
        },
        mounted() {

//            this.getAction()
            this.getActionDetail()
//            console.log("overview:" + appinfo.app_id)
        }
    });
</script>
