<style>
    html, body {
        font-family: sans-serif;
        font-size: 14px;
        line-height: 1.5;
        background: #f0f2f5 !important;
        color: rgba(0, 0, 0, .65);
    }

    .a {
        /*display: inline-block;*/
        margin: 10px;
        min-height: 170px;
        border: 1px solid #e8e8e8;
        padding: 16px 32px 0;
        background-color: #fff;

    }

    .statusFirst, .timeSecond, .dpsThird, .resoureFourth {
        padding: 40px 0 40px 0;
        margin: 20px;
        border-bottom: 1px solid #e8e8e8;
    }

    .text {
        text-align: center;
    }

    .infos div {
        float: left;
        padding: 20px;
        margin: 10px;
    }

    .infoinfos {
        border: 1px solid #e8e8e8;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        min-width: 800px;
        margin-left: 100px;
    }

    .bottom {
        padding: 20px;
        margin: 10px;
        background: #fff;
        min-height: 150px;
    }

    .makeInfo {
        padding: 20px;
        background: #fff;
        border-bottom: 1px solid #e8e8e8;
    }

    .button {
        text-align: right;
        margin-top: 10px;
        margin-bottom: 10px;
    }
</style>

<div id="port">
    <div class="button">
        <el-button type="primary" @click="dialogFormVisible = true"><i class="el-icon-plus"></i>添加端口</el-button>
    </div>
    <el-dialog title="添加端口" :visible.sync="dialogFormVisible" width="25%">
        <el-form :model="ruleForm" staus-icon ref="ruleForm" class="demo-ruleForm"
                 label-position="left" label-width="80px">
            <el-form-item label="端口号" prop="var_name">
                <el-input placeholder="请填写端口，范围1025-65535" v-model="ruleForm.port" style="width: 300px"></el-input>
            </el-form-item>
            <el-form-item label="协议" prop="var_val">
                <el-select v-model="ruleForm.protocol" style="width: 300px">
                    <el-option
                            v-for="item in options"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                    </el-option>
                </el-select>
            </el-form-item>

        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="dialogFormVisible = false">取 消</el-button>
            <el-button type="primary" @click="dialogFormVisible = false" @click.native="addPort">确 定
            </el-button>
        </div>
    </el-dialog>
    <div class="duankou">
        <div class="homeMiddle">
            <el-row :gutter="20">
                <el-col :span="24" :sm="24" :xs="24" :md="24" :lg="24">
                    <div class="first a">
                        <div>
                            <el-table
                                    :data="tableData"
                                    style="width: 100%;">
                                <el-table-column
                                        prop="hostPort"
                                        label="端口号"
                                        width="180">
                                </el-table-column>
                                <el-table-column
                                        prop="protocol"
                                        label="端口协议"
                                        width="180">
                                </el-table-column>
                                <el-table-column
                                        label="服务信息">
                                    <template slot-scope="scope">
                                        <el-row>
                                            <el-col :span="8">对外服务:</el-col>
                                            <el-col :span="16">
                                                <el-switch
                                                        change="switch_change(scope.row)"
                                                        style="display: block"
                                                        v-model="scope.row.isOutsideOpen"
                                                        active-color="#13ce66"
                                                        active-value="1"
                                                        inactive-color="#ff4949"
                                                        inactive-value="0">
                                                </el-switch>
                                            </el-col>
                                        </el-row>
                                        <el-row>
                                            <el-col :span="8">
                                                访问地址:
                                            </el-col>
                                            <el-col :span="16">
                                                {{scope.row.outsideAccessUrl}}
                                            </el-col>
                                        </el-row>
                                    </template>
                                </el-table-column>
                                <el-table-column
                                        prop="gmtCreate"
                                        label="创建时间"
                                        width="180">
                                </el-table-column>
                                <el-table-column
                                        label="操作">
                                </el-table-column>
                            </el-table>
                        </div>
                        <div class="button">
                            <el-button><i class="el-icon-plus"></i>设置成员应用权限</el-button>
                        </div>
                    </div>
                </el-col>
            </el-row>
        </div>

    </div>


</div>
<script>
    var port = new Vue({
        el: '#port',
        data: {
            appId: '',
            portInfo: [
                {
                    num: null,
                    protocol: "",
                    serviceinfo: "",
                    domain: ""
                }
            ],
            switch_value: null,
            tableData: [],
            ruleForm: {
                port: '',
                protocol: ''
            },
            dialogFormVisible: false,
            options: [{
                value: '0',
                label: 'http'
            }, {
                value: '1',
                label: 'mysql'
            }, {
                value: '2',
                label: 'tcp'
            }, {
                value: '3',
                label: 'udp'
            }],
            value: ''
        },
        methods: {
            getId(id) {
                console.log(id);
                $.ajax({
                    type: 'get',
                    url: '/tianyu-paas/app-ports/' + id,
                    data: {},
                    success: function (data) {
                        if (data.code === 1) {
                            port.tableData = data.data;
                            for (let i = 0; i < port.tableData.length; i++) {
                                if (port.tableData[i].protocol === 0) {
                                    port.tableData[i].protocol = "http";
                                }
                                if (port.tableData[i].protocol === 1) {
                                    port.tableData[i].protocol = "mysql";
                                }
                                if (port.tableData[i].protocol === 2) {
                                    port.tableData[i].protocol = "tcp";
                                }
                                if (port.tableData[i].protocol === 3) {
                                    port.tableData[i].protocol = "udp";
                                }

                            }
                            console.log(port.tableData);
                        }
                    },
                    error: function () {

                    }

                })
            },
            switch_change(row) {
                console.log(row);
                $.ajax({
                    type: 'put',
                    url: '/tianyu-paas/app-ports',
                    data: {
                        appId: row.appId,
                        hostPort: row.hostPort,
                        containerPort: row.containerPort,
                        isOutsideOpen: row.isOutsideOpen,
                    },
                    success: function (result) {
                        console.log(result);
                    }
                });
            },

            setOutSideClose() {

            },

            addPort() {
                $.ajax({
                    type: 'post',
                    url: '/tianyu-paas/app-ports',
                    data: {
                        appId: port.appId,
                        port: this.ruleForm.port,
                        protocol: this.ruleForm.protocol
                    },
                    success: function (data) {
                        console.log(data);

                    },
                    error: function () {

                    }
                })
            }
        },

        mounted() {
        }

    });
</script>
