<style>
    html, body {
        font-family: sans-serif;
        font-size: 14px;
        line-height: 1.5;
        background: #f0f2f5 !important;
        color: rgba(0, 0, 0, .65);
    }

    .a {
        /*display: inline-block;*/
        margin: 10px;
        min-height: 170px;
        border: 1px solid #e8e8e8;
        padding: 16px 32px 0;
        background-color: #fff;

    }

    .statusFirst, .timeSecond, .dpsThird, .resoureFourth {
        padding: 40px 0 40px 0;
        margin: 20px;
        border-bottom: 1px solid #e8e8e8;
    }

    .text {
        text-align: center;
    }

    .infos div {
        float: left;
        padding: 20px;
        margin: 10px;
    }

    .infoinfos {
        border: 1px solid #e8e8e8;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        min-width: 800px;
        margin-left: 100px;
    }

    .bottom {
        padding: 20px;
        margin: 10px;
        background: #fff;
        min-height: 150px;
    }

    .makeInfo {
        padding: 20px;
        background: #fff;
        border-bottom: 1px solid #e8e8e8;
    }

    .button {
        text-align: right;
        margin-top: 10px;
        margin-bottom: 10px;
    }
</style>

<div id="rely">
    <div class="yilai">
        <div class="homeMiddle">
            <el-row :gutter="20">
                <el-col :span="24" :sm="24" :xs="24" :md="24" :lg="24">
                    <div class="first a">
                        <div class="makeInfo">
                            <span>应用连接信息</span>
                        </div>
                        <div>
                            <el-table
                                    :data="connectInfo"
                                    style="width: 100%;">
                                <el-table-column
                                        prop="varName"
                                        label="变量名"
                                        width="260">
                                </el-table-column>
                                <el-table-column
                                        prop="varValue"
                                        label="变量值"
                                        width="260">
                                </el-table-column>
                                <el-table-column
                                        prop="varExplain"
                                        label="说明"
                                        width="260">
                                </el-table-column>
                                <el-table-column
                                        prop="opera"
                                        label="操作">
                                    <template slot-scope="scope">
                                        <el-button size="small" @click='click_modify(scope.row)'>修改</el-button>
                                        <el-button type="danger" size="small" @click='delete_var(scope.row)'>删除
                                        </el-button>
                                    </template>
                                </el-table-column>
                            </el-table>
                        </div>
                        <div class="button">
                            <el-button @click="dialogFormVisible = true"><i class="el-icon-plus"></i>添加变量</el-button>

                        </div>
                    </div>
                </el-col>
            </el-row>
        </div>
        <el-dialog title="添加变量" :visible.sync="dialogFormVisible" width="30%">
            <el-form :model="ruleForm" staus-icon ref="ruleForm" class="demo-ruleForm"
                     label-position="left" label-width="80px">
                <el-form-item label="变量名" prop="var_name">
                    <el-input placeholder="请输入变量名称 格式/^[A-Z][A-Z0-9_]*$/" v-model="ruleForm.var_name"></el-input>
                </el-form-item>
                <el-form-item label="变量值" prop="var_val">
                    <el-input placeholder="请输入变量值" v-model="ruleForm.var_val"></el-input>
                </el-form-item>
                <el-form-item label="说明" prop="var_des">
                    <el-input placeholder="请输入变量说明" v-model="ruleForm.var_des"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="dialogFormVisible = false">取 消</el-button>
                <el-button type="primary" @click="dialogFormVisible = false" @click.native="addVar">确 定
                </el-button>
            </div>
        </el-dialog>
        <el-dialog title="修改变量" :visible.sync="dialogFormVisible2" width="30%">
            <el-form :model="relyForm" staus-icon ref="ruleForm" class="demo-ruleForm"
                     label-position="left" label-width="80px">
                <el-form-item label="变量名" prop="var_name">
                    <el-input :disabled="true" v-model="relyForm.var_name"></el-input>
                </el-form-item>
                <el-form-item label="变量值" prop="var_val">
                    <el-input v-model="relyForm.var_val"></el-input>
                </el-form-item>
                <el-form-item label="说明" prop="var_des">
                    <el-input v-model="relyForm.var_des"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="dialogFormVisible2 = false">取 消</el-button>
                <el-button type="primary" @click="dialogFormVisible2 = false" @click.native="modify_var">确 定
                </el-button>
            </div>
        </el-dialog>
        <div class="homeBottom">
            <el-row :gutter="20">
                <el-col :span="24" :sm="24" :xs="24" :md="24" :lg="24">
                    <div class="first a">
                        <div class="makeInfo">
                            <span>依赖应用信息</span>
                        </div>
                        <div>
                            <el-table
                                    :data="relyTableData"
                                    style="width: 100%;">
                                <el-table-column
                                        prop="relyName"
                                        label="应用名"
                                        width="240">
                                </el-table-column>
                                <el-table-column
                                        prop="relyGroupName"
                                        label="所属组"
                                        width="240">
                                </el-table-column>
                                <el-table-column
                                        prop="opera"
                                        label="操作">
                                    <template slot-scope="scope">
                                        <el-button type="danger" size="small" @click='delete_rely(scope.row)'>删除
                                        </el-button>
                                    </template>
                                </el-table-column>
                            </el-table>
                        </div>
                        <div class="button">
                            <el-button @click="dialogFormVisible3 = true"><i class="el-icon-plus"></i>添加依赖</el-button>
                        </div>
                    </div>
                </el-col>
            </el-row>
        </div>
        <el-dialog title="添加依赖" :visible.sync="dialogFormVisible3" width="30%">
            <el-form :model="addrelyForm" staus-icon ref="ruleForm" class="demo-ruleForm"
                     label-position="left" label-width="80px">
                <el-form-item label="依赖于">
                <el-select v-model="addrelyForm.selectApp" placeholder="请选择要依赖的信息">
                    <el-option
                            v-for="item in groupApps"
                            :key="item.appId"
                            :label="item.name"
                            :value="item.appId">
                    </el-option>
                </el-select>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="dialogFormVisible3 = false">取 消</el-button>
                <el-button type="primary" @click="dialogFormVisible3 = false" @click.native="add_rely">确 定
                </el-button>
            </div>
        </el-dialog>
    </div>
</div>
<script>
    var rely = new Vue({
        el: '#rely',
        data: {
            appId: '',
            groupApps: [],
            appGroupId: null,
            connectInfo: [],
            ruleForm: {
                var_name: '',
                var_val: '',
                var_des: ''
            },
            relyForm: {
                var_name: '',
                var_val: '',
                var_des: ''
            },
            addrelyForm: {
                rely_name: '',
                selectApp: '',
            },
            relyTableData: [],
            dialogFormVisible: false,
            dialogFormVisible2: false,
            dialogFormVisible3: false,

        },
        methods: {
            getId(id) {
                this.appId = id;
                this.relyInit();
            },
            info_of_restart() {
                this.$confirm('此操作需重启方能生效,请重启', '提示', {
                    confirmButtonText: '好的',
                    type: 'info',
                    callback: action => {
                    }
                })
            },
            get_groupapp() {
                $.ajax({
                    type: 'get',
                    url: "/tianyu-paas/app-groups/" + rely.appGroupId,
                    success: function (result) {
                        console.log(result.data);
                        rely.groupApps = result.data;
                    }
                })
            },
            add_rely() {
                $.ajax({
                    type: 'post',
                    url: '/tianyu-paas/app-relys',
                    data: {
                        appId: rely.appId,
                        relyId: rely.addrelyForm.selectApp,
                        relyGroupId: rely.appGroupId
                    },
                    success: function (data) {
                        if (data.code === 1) {
                            rely.$message({
                                message: '添加成功',
                                type: 'success'
                            });
                            rely.relyInit();
                        } else {
                            rely.$message({
                                message: data.message,
                                type: 'warning'
                            })
                        }

                    },
                    error: function () {

                    }
                })
            },
            delete_rely(row) {
                console.log(row);
                let that = this;
                rely.$confirm('此操作将永久删除该依赖, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    $.ajax({
                        type: 'delete',
                        url: '/tianyu-paas/app-relys/' + row.appId + "?relyId="+ row.relyId,

                        success: function (result) {
                            if (result.code === 1) {
                                appinfo.$message({
                                    message: '删除依赖成功!',
                                    type: 'success'
                                });
                                rely.relyInit();
                            } else {
                                rely.$message({
                                    message: data.message,
                                    type: 'warning'
                                })
                            }
                        },
                        error: function () {

                        }
                    })
                }).catch(() => {
                });
            },
            click_modify(row) {
                rely.relyForm.var_name = row.varName;
                rely.relyForm.var_val = row.varValue;
                rely.relyForm.var_des = row.varExplain;
                rely.dialogFormVisible2 = true;
            },
            modify_var() {
                rely.info_of_restart();
                let val = [{
                    appId: rely.appId,
                    varName: rely.relyForm.var_name,
                    varValue: rely.relyForm.var_val,
                    varExplain: rely.relyForm.var_des,
                    gmtCreate: ''
                }];

                $.ajax({
                    type: 'put',
                    url: '/tianyu-paas/app-vars/',
                    data: {
                        appId: rely.appId,
                        varName: rely.relyForm.var_name,
                        varValue: rely.relyForm.var_val,
                        varExplain: rely.relyForm.var_des
                    },
                    success: function (data) {
                        if (data.code === 1) {
                            rely.$message({
                                message: '修改成功',
                                type: 'success'
                            });
                            rely.relyInit();
                            that.relyTableData.push(val[0])
                        } else {
                            rely.$message({
                                message: data.message,
                                type: 'warning'
                            })
                        }

                    },
                    error: function () {

                    }
                })
            },
            delete_var(row) {
                rely.info_of_restart();
                rely.$confirm('此操作将永久删除该变量, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    $.ajax({
                        type: 'delete',
                        url: '/tianyu-paas/app-vars/' + rely.appId + '?varName=' + row.varName,
                        success: function (result) {
                            if (result.code === 1) {
                                appinfo.$message({
                                    message: '删除成功!',
                                    type: 'success'
                                });
                                rely.relyInit();
                            } else {
                                rely.$message({
                                    message: data.message,
                                    type: 'warning'
                                })
                            }
                        },
                        error: function () {

                        }
                    })
                }).catch(() => {
                });
            },
            relyInit() {
                let that = this;
                //获取变量信息
                $.ajax({
                    type: 'get',
                    url: '/tianyu-paas/app-vars/' + rely.appId,
                    success: function (data) {
                        let result = data.data;
                        that.connectInfo = [];
                        for (let i = 0; i < result.length; i++) {
                            that.connectInfo.push(result[i])
                        }
                    },
                    error: function () {

                    }
                });
                //获取依赖信息
                $.ajax({
                    type: 'get',
                    url: '/tianyu-paas/app-relys/' + rely.appId,
                    success: function (data) {
                        that.relyTableData = [];
                        if (data.code === 1) {
                            that.relyTableData = data.data;
                            let result = data.data;
                        }
                    },
                    error: function () {

                    }
                });
                //获取分组信息
                $.ajax({
                    type: 'get',
                    url: '/tianyu-paas/apps/' + rely.appId,
                    success: function (result) {
                        if (result.code === 1) {
                            rely.appGroupId = result.data.appGroupId;
                            rely.get_groupapp();
                        }
                    },
                    error: function () {
                        rely.$message({
                            message: '容器已经关闭',
                            type: 'warning'
                        });
                    }
                })
            },
            addVar() {
                rely.info_of_restart();
                let that = this;
                let val = [{
                    appId: rely.appId, varName: this.ruleForm.var_name,
                    varValue: this.ruleForm.var_val,
                    varExplain: this.ruleForm.var_des,
                    gmtCreate: ''
                }];

                $.ajax({
                    type: 'post',
                    url: '/tianyu-paas/app-vars/',
                    data: {
                        appId: rely.appId,
                        varName: this.ruleForm.var_name,
                        varValue: this.ruleForm.var_val,
                        varExplain: this.ruleForm.var_des
                    },
                    success: function (data) {
                        console.log(data);
                        if (data.code === 1) {
                            rely.$message({
                                message: '添加成功',
                                type: 'success'
                            });
                            that.connectInfo.push(val[0])
                        } else {
                            rely.$message({
                                message: data.message,
                                type: 'warning'
                            })
                        }

                    },
                    error: function () {

                    }
                })
            }
        },
        mounted() {
        }
    });
</script>
