<style>
    .text {
        color: #495060;
        margin-top: 8px;
        margin-right: 15px;
    }

    p {
        font-size: 14px;
        color: #495060;
        margin-top: 8px;
        margin-right: 8px;
    }
    .ivu-table{
        height:auto;
    }
    .m{
        margin-left: 10px;
        font-size: 15px;
    }
    .add{
        position: absolute;
        right:160px;
    }

</style>
<body>
<div id="notice">
    <div style="margin: 10px 20px; display: inline-flex">
        <p>主页</p>
        <p>/</p>
        <p style="font-weight: bold">公告管理</p>
    </div>
    <div style="margin: 10px 20px">
        <p style="font-size: 20px; color: black">发布公告管理</p>
        <p style="margin: 8px 0px 20px">查询所有发布公告信息和阅读情况</p>
    </div>
    <div style="margin-left: 20px; margin-bottom: 20px;display: inline-flex">
        <p class="text">查询条件:</p>
        <i-input v-model="search" placeholder="请输入查询内容" style="width: 400px;margin-right: 15px;"></i-input>
        <i-button type="primary">查询</i-button>
        <div style="display: inline-block;margin-left: 30px">
            <i-select :model.sync="modelselect" style="width: 200px;margin-right: 15px">
                <i-option v-for="item in userList" :value="item.value">{{item.label}}</i-option>
            </i-select>
            <i-button type="primary">查询</i-button>

        </div>

        <i-button type="success" class="add" @click="modal1 = true" size="large">添加公告</i-button>
        <Modal
                v-model="modal1"
                title="发布新公告"
                @on-ok="createNotice"
                @on-cancel="cancel">
            <div style="display: inline-flex;margin: 15px">
                <div style="font-size: 15px;margin-bottom: 5px;margin-right: 5px"><p style="width: 100px;">请输入标题：</p></div>
                <i-input v-model="input_title" style="width: 280px"></i-input>
            </div>
            <div style="display:inline-flex;margin:15px">
                <div style="font-size: 15px;margin-bottom: 5px;margin-right: 5px"><p style="width: 100px;">请输入内容：</p></div>
                <i-input v-model="input_content" type="textarea" :autosize="{minRows: 2,maxRows: 5}"  style="width: 280px"></i-input>
            </div>
        </Modal>
    </div>
    <i-table stripe border :columns="columns1" :data="data1" style="margin:10px 20px;width: auto"></i-table>
</div>

</body>
<script>
    var notice = new Vue({
        el: '#notice',
        data() {
            return {
                single: '',
                modelselect:'',
                title:'',
                content:'',
                input_title: '',
                input_content: '',
                modal1: false,
                search: '',
                model3: '',
                userList:[{
                    value: '1',
                    label: '1'
                },
                   ],
                columns1: [
                    {
                        title: '标题',
                        key: 'title',
                    },
                    {
                        title: '内容',
                        key: 'content'
                    },
                    {
                        title: '创建者id',
                        key: 'adminId'
                    },
                    {
                        title: '操作',
                        key: 'action',
                        width: 320  ,
                        align: 'center',
                        render: (h, params) => {
                            return h('div', [
                                h('Button', {
                                    props: {
                                        type: 'primary',
                                    },
                                    style: {
                                        marginRight: '5px'
                                    },
                                    on: {
                                        click: () => {
                                            this.show(params.index)
//                                            console.log(params.index)
                                        }
                                    }
                                }, '查看'),
                                h('i-button', {
                                    props: {
                                        type: 'success',
                                    },
                                    style: {
                                        marginRight: '5px'
                                    },
                                    on: {
                                        click: () => {
                                            this.modify(params.index)
                                        }
                                    }
                                }, '修改'),
                                h('Button', {
                                    props: {
                                        type: 'error',
                                    },
                                    on: {
                                        click: () => {
                                            this.remove(params.index)
                                        }
                                    }
                                }, '删除')
                            ]);
                        }
                    }

                ],

                data1: []
            }
        },
        methods: {
            modify(index) {
                this.$Modal.confirm({
                    render: (h) => {
                        return h('div', [
                            h('div',{
                                style: {
                                    marginTop: '20px',
                                    marginBottom: '10px'
                                }
                            },[
                                h('span',{
                                    style:{
                                      fontSize:'18px',
                                    }
                                },'修改公告')
                            ]),
                            h('span', '标题'),
                            h('Input', {
                                style: {
                                    width: '80%',
                                    marginLeft: '15px',
                                    marginRight: '25px',
                                    marginBottom: '15px',
                                    marginTop: '10px'

                                },
                                props: {
                                    value: this.data1[index].title,
                                    autofocus: true,
                                    placeholder: '请输入公告标题'
                                },
                                on: {
                                    input: (val) => {
                                        this.title = val;
                                    }
                                }
                            }),
                            h('span', '内容'),
                            h('Input', {
                                style: {
                                    width: '80%',
                                    marginLeft: '15px',
                                    marginRight: '25px',
                                    marginTop: '10px',
                                    marginBottom: '10px'
                                },
                                props: {
                                    value: this.data1[index].content,
                                    autofocus: true,
                                    placeholder: '请输入公告内容'
                                },
                                on: {
                                    input: (val) => {
                                        this.content = val;
                                    }
                                },
                            })
                        ]);
                    },
                    onOk: () => {
                        this.modifyNotice(index)
//                        console.log(app_management.name)
                    }
                })
            },

            show(index) {
                this.$Modal.info({
                    content: `<p class="m">公告标题：${this.data1[index].title}</p><br><p class="m">公告内容：${this.data1[index].content}</p><br><p class="m">创建者：${this.data1[index].adminId}</p><br>`
                })
            },
            remove(index) {
                this.$Modal.confirm({
                    content: '是否确认删除？',
                    onOk: () => {
                        this.deleteNotice(this.data1[index].noticeId)
                        this.data1.splice(index, 1);
                        this.$Message.info('已删除');

                    },
                    onCancel: () => {
                        this.$Message.info('Clicked cancel');
                    }
                });
            },
            ok() {
                this.$Message.info('Clicked ok');
            },
            cancel() {
                this.$Message.info('Clicked cancel');
            },
            createNotice() {
                var that = this;
                var t = [{
                    adminId:1,
                    content:this.input_content,
                    gmtCreate:new Date(),
                    noticeId:'',
                    title:this.input_title
                }];
                $.ajax({
                    type:'post',
                    url:'notices',
                    data:{
                        title:that.input_title,
                        content:that.input_content,
                    },
                    success:function (data) {
                        console.log(data);
                        that.data1.push(t[0]);
                        that.ok()
                    },
                    error:function () {

                    }
                })
            },
            viewNotice() {
                var that = this;
                $.ajax({
                    type:'get',
                    url:'notices',
                    success:function (data) {
                        console.log(data);
                        var result = data.data.records;
                        console.log(result);
                        for(var i = 0;i<result.length;i++) {
                            that.data1.push(result[i]);
                            console.log(that.data1)
                        }
                    },
                    error:function () {
                        console.log(err)
                    }
                })
            },
            modifyNotice(index) {
                var that = this;
                $.ajax({
                    type:'put',
                    url:'notices',
                    data: {
                        noticeId:that.data1[index].noticeId,
                        title:that.title,
                        content:that.content
                    },
                    success:function (data) {
                        if(data.code === 1) {
                            that.$Message.info("修改成功");
                            that.data1[index].title = that.title;
                            that.data1[index].content= that.content
//                            that.data1.splice(index, 1);
//                            that.viewNotice()
                        }
                    },
                    error:function (err) {
                        console.log(err)
                    }

                })
            },
            deleteNotice(noticeId) {
                $.ajax({
                    type:'delete',
                    url:'notices/'+noticeId,
                    success:function (data) {
                        console.log(data)
                    },
                    error:function (err) {
                        console.log(err)
                    }
                })
            },

        },
        mounted() {
            this.viewNotice()
        }

    })
</script>
