
<div class="form">
    <el-form :label-position="labelPosition" label-width="80px" :model="formLabelAlign" id="form_4">
        <el-form-item label="应用名称:">
            <el-input v-model="formLabelAlign.name" placeholder="请为创建的应用起名"></el-input>
        </el-form-item>
        <el-form-item label="应用组:">
            <el-select class="select-group" v-model="formLabelAlign.group" placeholder="选择应用组">

                <el-option v-for="(item, index) in labelArr" :key="item.index" :value="item.id"
                           :label="item.label">

                </el-option>
            </el-select>
            <el-button @click="dialogFormVisible = true" class="add-group-button">新建</el-button>
            <el-dialog title="新建应用组" :visible.sync="dialogFormVisible" width="30%">
                <el-form :model="ruleForm" staus-icon :rules="rules" ref="ruleForm" class="demo-ruleForm"
                         label-position="right" label-width="80px" :model="formLabelAlign">
                    <el-form-item label="组名称" prop="group_name">
                        <el-input placeholder="请填写组名称" v-model="ruleForm.group_name"></el-input>
                    </el-form-item>
                </el-form>
                <div slot="footer" class="dialog-footer">
                    <el-button @click="dialogFormVisible = false">取 消</el-button>
                    <el-button type="primary" @click="dialogFormVisible = false" @click.native="addGroup">确 定
                    </el-button>
                </div>
            </el-dialog>
        </el-form-item>
        <el-form-item label="命令:">
            <el-input id="order-input" v-model="formLabelAlign.order"
                      placeholder="例如 : docker run -d -p 8080:8080 -e PWD= 1qa2ws&#10; --name=tomcat_demo tomcat"></el-input>
        </el-form-item>

        <el-button type="primary" class="add-button" @click.native="addApp()">新建应用</el-button>

    </el-form>
</div>
<script>
    var form_4 = new Vue({
        el: '#form_4',
        data() {
            return {
                labelPosition: 'right',
                formLabelAlign: {
                    name: '',
                    group: '',
                    order: '',
                },
                labelArr: [
                    {label: '', id: ''}
                ],
                dialogFormVisible: false,
                ruleForm: {
                    gruop_name: '',
                },
                formLabelWidth: '60px',
                rules: {
                    group_name: [
                        {required: true, message: '请输入组名称', trigger: 'blur'}
                    ]
                }
            };
        },
        methods: {
            addGroup() {
                $.ajax({
                    type: "post",
                    url: 'app-groups',
                    data: {
                        groupName: this.ruleForm.group_name,
                    },
                    success: function (TResultCode) {
                        console.log("the result is " + TResultCode.code);
                        if (TResultCode.code == 1) {
                            alert("新建组成功");
                            form_4.appList();
                        }
                        else {
                            alert(TResultCode.message)
                        }
                    },
                    error: function () {
                        console.log("fail")
                    }
                })
            },
            appList() {
                var that = this;

                $.ajax({
                    type: "get",
                    url: 'app-groups',
                    dataType: "json",
                    success: function (result) {

                        for (var i = 0; i < result.data.length; i++) {
                            // console.log(result.data[i].appGroupId);
                            var obj = that.labelArr[0];
                            var testObj = {label: "", id: ""};
                            obj.label = result.data[i].groupName;
                            obj.id = result.data[i].appGroupId;

                            testObj.label = obj.label;
                            testObj.id = obj.id;

                            that.labelArr.push(testObj);
                        }
                    },
                    error: function () {
                        console.log('fail')
                    }
                })
            },
            addApp() {
                console.log("docker_run");
                web.ajax({
                    type: 'post',
                    url: '/tianyu-paas/apps/docker-run',
                    data: {
                        name: this.formLabelAlign.name,
                        appGroupId: this.formLabelAlign.group,
                        cmd: this.formLabelAlign.order,
                    },
                    success: function (result) {
                        if (result.code == 1) {
                            alert("新建应用成功");
                        }
                        else {
                            alert(result.message)
                        }
                    },
                    error: function () {
                        console.log('fail')
                    }

                }, form_4)
            }
        },
        mounted() {
            this.appList();
        }
    });
    $("#branch-input").val("master");
</script>

<style>
    .form {
        background: white;
        padding: 3% 32%;
    }

    .el-input__inner {
        height: 35px;

    }

    .select-group {
        width: 80%;
    }

    .add-group-button {
        height: 35px;
        padding: 8px 20px;
    }

    .add-button {
        margin-left: 9%;
    }

    .add-button {
        margin-left: 15%;
    }

    #order-input {
        height: 60px;
    }

</style>
